/*
 * eZmodal
 * doc: http://markusslima.github.io/ezmodal/
 * github: https://github.com/markusslima/ezmodal
 *
 * Copyright (c) 2015 Markus Vinicius da Silva Lima
 * Version 0.1.2
 * Licensed under the MIT license.
 */
.ezmodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90000;
    background: rgba(0,0,0,.6);
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.ezmodal-container {
    background: #fff;
    padding: 0;
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 90001;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.8);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.ezmodal .ezmodal-close {
    position: absolute;
    top: 9px;
    right: 20px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(250,250,250,1);
    cursor: pointer;
    color: #838383;
}

    .ezmodal .ezmodal-close:hover {
        color: #535353;
    }

.ezmodal .ezmodal-header {
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    border-radius: 7px 7px 0 0;
    line-height: 20px;
    color: #646464;
}

.ezmodal .ezmodal-content {
    padding: 10px 20px;
}

.ezmodal .ezmodal-footer {
    padding: 5px 20px;
    background: #efefef;
    border-top: 1px solid #e3e3e3;
    text-align: right;
    border-radius: 0 0 7px 7px;
}
