﻿.table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 10px auto;
    text-align: left;
    width: 900px;
    border-collapse: collapse;
}

    .table th {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#4bc970, #fff);
        /*border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;*/
        border: 1px solid #e8e8e8;
        box-shadow: inset 0 1px 0 #999;
        color: #000;
        font-weight: bold;
        font-size: 11px;
        padding: 3px 16px;
        border-collapse: collapse;
        position: relative;
        /*text-shadow: 0 1px 0 #000;*/
    }

        .table th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        .table th:first-child {
            /*border-left: 1px solid #777;*/
            box-shadow: inset 1px 1px 0 #999;
        }

#table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 3px 10px;
    position: relative;
    transition: all 300ms;
    border-collapse: collapse;
}

    .table td:first-child {
        box-shadow: inset 1px 0 0 #fff;
    }

    .table td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
    }

.table tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
    border-collapse: collapse;
}

    .table tr:nth-child(odd) td {
        background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
    }

    .table tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
    }

        .table tr:last-of-type td:first-child {
            box-shadow: inset 1px -1px 0 #fff;
        }

        .table tr:last-of-type td:last-child {
            box-shadow: inset -1px -1px 0 #fff;
        }

.table tbody:hover td {
    /*color: transparent;
        text-shadow: 0 0 3px #aaa;*/
}

.table tbody:hover tr:hover td {
    /*color: #444;
        text-shadow: 0 1px 0 #fff;*/
}
