#menu8 {
	width: 200px;
	margin-top: 10px;
}
	
#menu8 li a {
	text-decoration: none;
	height: 20px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
}
	
#menu8 li a:link, #menu8 li a:visited {
	color: #FFFFFF;
	display: block;
	padding: 7px 0 0 30px;
	background-image: url(../images/menu8.gif);
	font-family: "Trebuchet MS";
	font-size: 14px;
}
	
#menu8 li a:hover {
	color: #FFFFFF;
	background: url(../images/menu8.gif) 0 -32px;
	padding: 7px 0 0 35px;
}
	
#menu8 li a:active {
	color: #fff;
	padding: 7px 0 0 30px;
	background-image: url(../images/menu8.gif);
	background-position: 0 -64px;
}

#menu8 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
