﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="FreeEvent_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


    <script src="scripts/FreeEventCtrl.js"></script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        {{ message }}
    </div>


</body>
</html>
