<%@ Page Language="vb" AutoEventWireup="false" Title="BulkMailPOHelp"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>BulkMailPO Help</title>
		<LINK href="Styles.css" rel="stylesheet">

	</HEAD>
	<body aleftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
		<form id="Form1" method="post" runat="server">
		<table runat="server" width="100%>
		    <tr><td class="Heading" align="center"><h6>BulkMailPO Help</h6></td></tr>
		    <tr runat="server"><td class="MidFont"><b><u>Volunteer List:</u></b><br /> Only IND Records are shown for Volunteers if both IND ans Spouse are Volunteers </td></tr>
		    <tr runat="server"><td class="MidFont"><b><u>Well Wishers List:</u></b><br /> Only IND Records with Mailing Label='Y' gets displayed 
                in the list.</td></tr>
		</table>
		</form>
	</body>
</HTML>

 

 
 
 