<%@ Page Language="vb" AutoEventWireup="false" Inherits="CalSignHelp" CodeFile="CalSignHelp.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>CalSign Help</title>
		<LINK href="Styles.css" rel="stylesheet">

	</HEAD>
	<body aleftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
		<form id="Form1" method="post" runat="server">
		<table runat="server" width="100%>
		    <tr><td></td></tr>
		    <tr runat="server" id="TrPhase"><td class="MidFont"><b>Phase:</b><br />  Some programs have multiple phases. </td></tr>
		    <tr runat="server" id="TrSession"><td class="MidFont"><b>Sessions#:</b><br /> Some coaches may want to take up more than one class per week.</td></tr>
		    <tr runat="server" id="TrPref"><td class="MidFont"><b>Preferences:</b><br /> Every attempt will be made to sign you up for your first preference.  If it is not possible to accommodate, your next preference will be attempted.</td></tr>
		</table>
		</form>
	</body>
</HTML>

 

 
 
 