﻿@{
    ViewBag.Title = "changepwd";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#nfs_old').focus();

        $('#btn_Modify').click(function () {
            if ($("#nfs_old").val() != "") {
                if ($("#nfs_new").val() != "") {
                    if ($("#nfs_renew").val() != "") {
                        if ($("#nfs_renew").val() == $("#nfs_new").val()) {
                            return true;
                        }
                        else {
                            alert('Both New passwords must be same');
                            $("#nfs_renew").focus();
                            return false;
                        }
                    }
                    else {
                        alert('Please Retype New password');
                        $("#nfs_renew").focus();
                        return false;
                    }
                }
                else {
                    alert('Please enter New password');
                    $("#nfs_new").focus();
                    return false;
                }
            }
            else {
                alert('Please enter old password');
                $("#nfs_old").focus();
                return false;
            }
        });
    });
</script>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="../Institute/index">Home</a> </li>
        <li class="active">Change Password </li>
    </ol>
    @using (Html.BeginForm("ChangePwd", "Institute", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmadd", name = "frmadd" }))
    { 
        
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Change Password</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>
                                Username</label>
                            <input class="form-control"  id="nfs_user" name="nfs_user"  value=@User.Identity.Name  disabled />
                        </div>
                        <div class="form-group">
                            <label>
                                Old Password</label>
                            <input class="form-control" type="password" placeholder="Old Password" id="nfs_old"
                                name="nfs_old" />
                        </div>
                        <div class="form-group">
                            <label>
                                New Password</label>
                            <input class="form-control" type="password" placeholder="New Password" id="nfs_new"
                                name="nfs_new" />
                        </div>
                        <div class="form-group">
                            <label>
                                Retype New Password</label>
                            <input class="form-control" type="password" placeholder="Retype Password" id="nfs_renew"
                                name="nfs_renew" />
                        </div>
                        <input type="submit" class="btn btn-success" id="btn_Modify" value="Change Password" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
                                                                                         if (ViewData["PwdStat"] == "Success")
                                                                                         {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success">
                    <strong>Success!</strong> Your password changed successfully.
                </div>
            </div>
        </div>
                                                                                         }
                                                                                         else if (ViewData["PwdStat"] == "Failed")
                                                                                         {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <strong>Failed!</strong> Your password not changed. Try again.
                </div>
            </div>
        </div>
                                                                                         }
                                                                                         else if (ViewData["PwdStat"] == "Error")
                                                                                         {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <strong>Error!</strong> Password not changed. Try again.
                </div>
            </div>
        </div>
                                                                                         }
    }
</div>
