<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="ContRegSearch.aspx.vb" Inherits="ContRegSearch" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
    <div style="text-align:left">
           <asp:LinkButton CssClass="btn_02" ID="lbtnVolunteerFunctions" PostBackUrl="~/VolunteerFunctions.aspx" runat="server">Back to Volunteer Functions</asp:LinkButton>
   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  
</div>
<div>
          <table cellspacing="1" cellpadding="3" width="90%"  align="center" border="0" >
            <tr >
                <td colspan="4" align="center" >
                <asp:Label ID="lblsearch" runat="server" Text="Search for a Registration " Font-Size="Large" ForeColor="DarkBlue"></asp:Label>
                 </td>
            </tr >
            <tr >
                <td colspan="4"></td>
            </tr>
            <tr>
            <td colspan="4" style="color:Red "><asp:Label id="lblerror" runat="server"></asp:Label></td>
            </tr>
            <tr bgcolor="#ffffff" >
                <td style="height: 30px; width: 168px;"  >
                    Participant Name:</td>
                <td style="height: 30px;" >
                    <asp:TextBox ID="txtname" runat="server" CssClass="inputBox"> </asp:TextBox>
                    </td>
                
            </tr>
            <tr bgcolor="#ffffff" >
                <td style="width: 168px; height: 30px;" >
                    Principal Parent Name:</td>
                <td style="height: 30px" >
                    <asp:TextBox ID="txtpname" runat="server" CssClass="inputBox"></asp:TextBox></td>
                  </tr>
                  <tr bgcolor="#ffffff" >
                <td style="width: 168px" >
                    Spouse Name:</td>
                <td >
                    <asp:TextBox ID="txtsname" runat="server" CssClass="inputBox"></asp:TextBox></td>
                  </tr>
            <tr bgcolor="#ffffff" >
                <td style="width: 168px" >
                    E-Mail: </td>
                <td >
                    <asp:TextBox ID="txtemail" runat="server" CssClass="inputBox"></asp:TextBox>
                    <%--<asp:RegularExpressionValidator ID="RegularExpressionValidator2" runat="server" ControlToValidate="txtEmail"
                   ErrorMessage="Enter valid Email Address" SetFocusOnError="True" ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"
                   Width="144px"></asp:RegularExpressionValidator>--%>
                   </td>
            </tr>
            <tr bgcolor="#ffffff" >
                <td style="width: 168px; height: 26px;" >
                    Phone Number contains:</td>
                <td style="height: 26px" >
                    <asp:TextBox ID="txtphone" runat="server" CssClass="inputBox"></asp:TextBox>
                    <asp:Label ID="lblphone" runat="server" Text="(xxx-xxx-xxxx)"></asp:Label></td></tr>
            
            <tr bgcolor="#ffffff" >
                <td style="width: 168px; height: 26px;" >
                    Year:</td>
                <td style="height: 26px" >
                    <asp:DropDownList ID="drpyear" runat="server" ></asp:DropDownList></td></tr>
            
            
            <tr bgcolor="#ffffff" >
                <td  colspan="4" align="center"> 
                    <asp:Button ID="btnSearch" runat="server" Text="Search"  />
                </td>
            </tr>
        </table>
        <br />
        
      

&nbsp;





        
    </div>

</asp:Content>

