<%@ Page Language="vb" AutoEventWireup="false" Inherits="VRegistration.ContestDetails" CodeFile="ContestDetails.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ContestDetails</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script language=javascript>
			window.history.forward(1);
		</script>
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:Label id="Label1" style="Z-INDEX: 101; LEFT: 320px; POSITION: absolute; TOP: 104px" runat="server"
				Width="288px">Welcome to Contest details</asp:Label>
		</form>
	</body>
</HTML>

 

 
 
 