<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="ContactListUnassignedMain.aspx.vb" Inherits="ContactListUnassignedMain" title="NSF Contact List Unassigned" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">

    <asp:Table ID="Table1" runat="server">
    <asp:TableRow>
    <asp:TableCell>
    
        </asp:TableCell>
    
    </asp:TableRow>
    
    
    <asp:TableRow>
        <asp:TableCell>
        <asp:Label ID ="Label1" text="Account Type" runat=server Visible=true></asp:Label>
             &nbsp;&nbsp;<asp:DropDownList ID="ddlOption" runat=server>
            <asp:ListItem Value="0" text="Select a role type"></asp:ListItem>
            <asp:ListItem Value="Admin" text="Admin"></asp:ListItem>
            <asp:ListItem Value="NationalC" text="NationalC"></asp:ListItem>
            <asp:ListItem Value="ZonalC" text="ZonalC"></asp:ListItem>
            <asp:ListItem Value="ClusterC" text="ClusterC"></asp:ListItem>
            <asp:ListItem Value="ChapterC" text="ChapterC"></asp:ListItem>   
            <asp:ListItem Value="FinalsCoreT" text="FinalsCoreT"></asp:ListItem>   
            <asp:ListItem Value="TeamLead" text="TeamLead"></asp:ListItem>   
            </asp:DropDownList>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
    <asp:tableCell>
        <asp:Label ID ="lblemail" text="User Email" runat=server Visible=true></asp:Label>
        &nbsp;&nbsp;
        <asp:TextBox ID="email"  runat="server" > </asp:TextBox>    
    </asp:tableCell>    
    </asp:TableRow>
    <asp:TableRow>
    <asp:TableCell>
    &nbsp;
    </asp:TableCell>
     <asp:TableCell>
  <asp:Button ID="btnSubmit" text="submit" runat=server onclick="btnSubmit_onclick"/>
    </asp:TableCell>
    </asp:TableRow>
    
    </asp:Table>
    <table cols="2" border=2>
        <tr>
            <td>
                Admin</td>
            <td>
                tejasreeja@yahoo.com
                <br />
                usha.avula@randolph.af.mil</td>
        </tr>
        <tr>
            <td style="width: 71px">
                NationalC</td>
            <td>
                prasaddsr@yahoo.com</td>
        </tr>
        <tr>
            <td>
                ZonalC</td>
            <td >
                nshahpt@yahoo.com</td>
        </tr>
         <tr>
            <td>
                ClusterC</td>
            <td >
                rkmada@yahoo.com</td>
        </tr>
         <tr>
            <td >
                ChapterC</td>
            <td >  
             usha.avula@randolph.af.mil</td>
        </tr>
         <tr>
            <td >FinalsCoreT</td>
            <td >  
             vadivi@satx.rr.com</td>
        </tr>
         <tr>
            <td >
                TeamLead</td>
            <td >  
             priya@cadambe.com</td>
        </tr>
    </table>

</asp:Content>


 

 
 
 