<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CreateIndSpouse.aspx.vb" Inherits="CreateIndSpouse" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>NSF-Create IndSpouse Details</title>
    <script language="javascript" type="text/javascript" >
        function closewindow()
		{			
			window.opener.location.reload();
			window.close();
			return false;
		}
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label runat="server" ID="lblMessage"></asp:Label>
        <a href="#" onclick="return closewindow();"> click here to close this</a>
    </div>
    </form>
</body>
</html>


 
 
 