A:hover { text-decoration: overline underline }
.bottomline
{ 
	font-size: 10px; 
	font-family: tahoma; 
	color: white; 
}

.largewording 
{ 
	font-size: 13px; 
	font-family: tahoma; 
	color: #666666; 
	border-style:none;		
}
.largewordingbold
{ 
	font-size: 13px; 
	font-family: tahoma; 
	color: #666666; 
	border-style:none;		
	font-weight:bold;		
}

.maintitle 
{ 
	font-size: 14px; 
	font-family: tahoma; 
	color: #666666; 	
}

.mediumwording 
{ 
	font-size: 11px; 
	font-family: tahoma; 
	color: #666666; 
	border-style:none;		
}

.mediumwordingbold
{ 
	font-size: 11px; 
	font-family: tahoma; 
	color: #666666; 
	font-weight:bold;		
}

.menustyle
{
	border-right: #e5e7ea 1px solid;
	border-top: #e5e7ea 1px solid;
	font-weight: bold;
	font-size: 11px;	
	border-left: #e5e7ea 1px solid;
	border-bottom: #e5e7ea 1px solid;
	font-family: tahoma;
	background-color: #e5e7ea;
}

.menuitem 
{
	background-color:#e5e7ea;
	font-family:tahoma;
	font-size:11px;
	border:1px;
	border-style:solid;
	border-color:#e5e7ea;
	padding:2px;
	cursor:hand;
	color:526b86;	
		
}

.mouseover 
{
	background-color:#e5e7ea;
	color:black;
	font-family:tahoma;
	font-size:11px;
	border:1px;
	border-style:solid;
	border-color:#e5e7ea;
	padding:2px;
	cursor:hand;
}


.newItems 
{ 
	font-size: 11px; 
	font-family: tahoma; 
	color: #666666; 
	border-style:none;	
	font-weight: bold; 	
}

.solidline 
{ 
	font-size: 2px; 
	font-family: tahoma; 
	color: #213653; 
	background-color: #213653; 
	border-style:none;
}

.spacer 
{ 
	font-size: 2px; 
	font-family: tahoma; 
	color: white; 
	background-color: white; 
	border-style:none;
}

.subMenu 
{ 
	font-size: 11px; 
	font-family: tahoma; 
	color: white; 
	background-color: #213653; 
	border-style:none;
	border-color:#213653;
	font-weight: bold; 
	cursor: default
}

.subtitle
{ 
	font-size: 22px; 
	font-family: tahoma; 
	color: #666666; 	
}
.tinyText
{ 
	font-size: 8px; 
	font-family: tahoma; 
	color: white; 	
}

