<%@ Page Language="vb" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" Inherits="VRegistration.CustomErrorPage" CodeFile="CustomErrorPage.aspx.vb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<Div>
		
			
			<asp:label runat="server" id="lblError"></asp:label>
			<table>
			    <tr>
			    <td><p><b> At this time we are unable to process your request. Please Send Email to the
                    address given below. Tech Volunteer of NSF will contact you with information to complete your task. </b>
			</p>
			    </td>
			    </tr>
			</table>

</Div>
</asp:Content>

 

 
 
 