﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script type="text/javascript">
        function showlayer(layer) {
            var myLayer = document.getElementById(layer).style.display;
            if (myLayer == "none") {
                document.getElementById(layer).style.display = "block";
            } else {
                document.getElementById(layer).style.display = "none";
            }
        }
    
    </script>



    <style type="text/css">
        #form1
        {
            width: 1135px;
            height: 165px;
        }
    </style>



</head>
<body style="height: 162px; width: 1137px">
    <form id="form1" runat="server">
   <div>
     <div id="my_area" align="center">
          <asp:Menu ID="Menu1" runat="server">
        <Items>
            <asp:MenuItem Text="PRODUCTS" Value="PRODUCTS">
                    </asp:MenuItem>

           
            <asp:MenuItem Text="MACHINES" Value="MACHINES">
                <asp:MenuItem Text="COLD PLANERS" Value="COLD PLANERS" NavigateUrl ="~/cold_planers.aspx"></asp:MenuItem>
                <asp:MenuItem Text="ARTICULATED_TRUCKS" Value="Articulated_Trucks" NavigateUrl="~/Articulated Trucks.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="BACKHOE_LOADERS" Value="Backhoe_Loaders" NavigateUrl="~/Backhoe Loaders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="COMPACTORS" Value="New Item" NavigateUrl="~/Compactors.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="FOREST MACHINES" Value="New Item" NavigateUrl="~/Forest Machines.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="FORWARDERS" Value="New Item" NavigateUrl="~/Forwarders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="HARVESTERS" Value="New Item" NavigateUrl="~/Harvesters.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="HYDRAULIC EXCAVATORS" Value="New Item" NavigateUrl="~/Hydraulic Excavators.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="KNUCKLEBOOM LOADERS" Value="New Item" NavigateUrl="~/Knuckleboom Loaders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="MOTOR GRADERS" Value="New Item" NavigateUrl="~/Motor Graders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="OFF-HIGHWAY TRUCKS" Value="New Item" NavigateUrl="~/Off-Highway Trucks.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="ASPHALT PAVERS" Value="New Item" NavigateUrl="~/Asphalt Pavers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="PIPELAYERS" Value="New Item" NavigateUrl="~/Pipelayers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="ROAD RECLAIMERS" Value="New Item" NavigateUrl="~/Road Reclaimers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="WHEEL TRACTOR-SCRAPERS" Value="New Item" NavigateUrl="~/Wheel Tractor-Scrapers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="SKID STEER LOADERS" Value="New Item" NavigateUrl="~/Skid Steer Loaders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="SKIDDERS" Value="Skidders" NavigateUrl="~/Skidders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="TELEHANDLERS" Value="Telehandlers" NavigateUrl="~/Telehandlers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="TRACK LOADERS" Value="Track Loaders" NavigateUrl="~/Track Loaders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="TRACK TYPE TRACTORS" Value="Track-Type Tractors" NavigateUrl="~/Track-Type Tractors.aspx" ></asp:MenuItem>
                    <asp:MenuItem Text="WHEEL LOADERS" Value="Wheel Loaders" NavigateUrl="~/Wheel Loaders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="WHEEL DOZERS" Value="Wheel Dozers" NavigateUrl="~/Wheel Dozers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="COMPACT TRACK AND MULTI TERRAIN LOADERS"  Value="Compact Track and Multi Terrain Loaders" NavigateUrl="~/Compact Track and Multi Terrain Loaders.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Feller Bunchers" Value="Feller Bunchers" NavigateUrl="~/Feller Bunchers.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="UNDERGROUND MINING" Value="Underground Mining" NavigateUrl="~/Underground Mining.aspx">                    </asp:MenuItem>
                    <asp:MenuItem Text="WHEEL EXCAVATORS" Value="Wheel Excavators" NavigateUrl="~/Wheel Excavators.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="PAVING PRODUCTS" Value="Paving Products" NavigateUrl="~/Paving Products.aspx"></asp:MenuItem>
                
            </asp:MenuItem>

           
        </Items>
    </asp:Menu>
    <asp:LinkButton ID="LinkButton1" runat="server" 
        PostBackUrl="~/cold_planers.aspx">cold_planers</asp:LinkButton>
    <br />
    <asp:LinkButton ID="LinkButton2" runat="server" 
        PostBackUrl="~/coldplaners200.aspx">cold_planers200</asp:LinkButton>
    <br />
    <asp:LinkButton ID="LinkButton3" runat="server" 
        PostBackUrl="~/coldplaners201.aspx">cold_planers201</asp:LinkButton>
    <br />
   
           </div> 
    
    </div>
    <table class="style1">
        <tr>
            <td>
                
            </td>
            
                <td>
                </td>
        </tr>
        <tr>
            <td colspan="2">
            <div id="divs1" runat="server" align="center"></div>

                &nbsp;</td>
               
        </tr>

    </table>

    </form>
</body>
</html>
