﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Default_Test.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
<form id="form1" runat="server">
<div>
<asp:CheckBoxList ID="checkBoxList" runat="server"/>

<asp:Button ID="btnDownloadZipFile" runat="server" 
            onclick="btnDownloadZipFile_Click" 
            Text="Download Files As Zip" />
</div>
</form>
</body>
</html>
