﻿
<p>
<div class="txt01" align="middle">
<font size="4">NSF announces Dollar A Square at 2015 Finals</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/NorthSouthFoundation" target="_blank"><img width="110" height="25" src="http://www.northsouth.org/Public/KidsCorner/images/like_us_facebook.jpg" /></a></div>
</p>
<div class="txt01"><p>Dear Parents</p></div>
<div class="txt01" align="justify"><p>
    
                         
                         
                         
                     <table border="1" cellpadding="2" cellspacing="0" width="100%"  style="height:100%;">
                         <tr style="font-size:10px;">
                     <td align="center" width="5%">
                        <b><span id="_ctl0_Content_main_rpSB_JudgeCopy__ctl9_lblSNoTemp" style="font-size:10pt;">10</span></b>
				     </td>
                     <td align="center" width="7%">
                        
				     </td>
				     <td align="center" width="6%">
                        2/E/P
				     </td>
                     <td width="13%"  bgcolor="#F2F2F2">
                        <b>ligament</b>
				     </td>
                     <td align="center" width="5%">
                        n
				     </td>
                     <td width="14%" style="font-size:7px;">

                        <font face="Doulos SIL">ˡligəmənt</font>
                        ˡligəmənt
				     </td>
                              <td width="7%" style="font-size:7px;">

                        L
				     </td>
                              <td width="24%" style="font-size:7px;">

                        something that ties or unites one thing or part to another.
				     </td>
                              <td width="25%" style="font-size:7px;">

                        International law is considered by some to be the ligament of mankind.
				     </td>
                 </tr>
                        </table>
This finals, your child can Bee the helping hand and help raise 25 scholarships for 25 years&#33;  The Dollar-A-Square (DAS) is a program that was started in 2003 through which children growing up here in the US can help another child in India by raising funds for NSF&#39;s India Scholarships program. DAS is for the children by the children. DAS is fun, easy and children get to &#34;bee&#34; the helping hand. The <a href="https://www.northsouth.org/public/kidscorner/docs/PledgeSheet.pdf" target="_blank">Pledge Sheet </a>  is very simple. It has 100 squares and each square is worth a dollar. By going around the neighborhood and asking family, friends and classmates parents, children can easily fill in the squares. Children can ask for as little as a dollar. Usually donors come up with at least $5, if they explain the cause.   Bee participants can gain free access to NSF&#39;s on-line games when they complete 100 squares. <a href="http://eepurl.com/VLdkr" target="_blank">Sign up today</a>. Please contact <a class="btn_02" href="mailto:madavioliver@gmail.com">madavioliver@gmail.com</a>, if you have any questions.
    </p>
</div>

<div class="txt01">
    <p><a href="https://www.northsouth.org/public/kidscorner/docs/PledgeSheet.pdf" target="_blank">PLEDGE SHEET</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://eepurl.com/VLdkr" target="_blank">SIGN UP</a></p>
    <p>Thank you<br />
    NSF DAS team<br />
    <a href="https://www.northsouth.org/public/kidscorner/dollarasquare.aspx" target="_blank"><img width="75" height="75" src="http://www.northsouth.org/Public/KidsCorner/images/DollarASquare.jpg" /></a></p>
</div>



                        
