<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="DonationReceipt.aspx.vb" Inherits="DonationReceipt" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
    <table  width="90%" align="center">
		<tr bgcolor="#ffffff"  align="center" >
		    <td class="Heading" colspan="2">Donation Receipt</td>
		</tr>
		<tr>
		    <td>&nbsp;</td>
		</tr>
		<tr>
		    <td align="center">
			    <table align="center" width="60%">						
			        <tr bgcolor="#ffffff" >
					    <td style="text-align:center" colspan="2">
					        Select Calendar Year:
					       <asp:DropDownList runat="server" ID="ddlYear"></asp:DropDownList>
					    </td>					
				    </tr>
				    <tr>
				        <td  class="ItemCenter" align="left"  colspan="2" >
                            <asp:Button runat="server" ID="btnView" Text="View" CssClass="FormButton"  />
                         </td>
				    </tr>
				</table>
			</td> 
			</tr> 
		</table>
</asp:Content>



 
 