﻿<%@ Page Language="VB" AutoEventWireup="false"  ValidateRequest ="false"  CodeFile="fsmailtest.aspx.vb" Inherits="fsmailtest" %>
<%@ Register TagPrefix="FTB" Namespace="FreeTextBoxControls" Assembly="FreeTextBox" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
    <title>Sending News Letter</title>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">
    <table border="0" cellpadding ="0" cellspacing = "0" width ="1000">
   
	<tr>
  <td align="left"> &nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
  <tr>
  <td align="center">
    <table border = "0" cellpadding = "3" cellspacing = "0" width="550px">
    <tr><td></td><td></td></tr>
     <tr><td colspan="2" align="center"><h3>&nbsp;test Mail</h3></td></tr>
     <tr><td align="left">Test EMail ID</td><td align="left">
         <asp:TextBox ID="txttestEmail" runat="server" Width="300px"></asp:TextBox></td></tr>
         <tr><td align="left">From EMail ID</td><td align="left">
         <asp:TextBox ID="txtFrom" runat="server" Width="300px" Text="ferdine@silvaa.co.cc"></asp:TextBox></td></tr>
                  <tr><td align="left">Check text</td><td align="left">
              <asp:TextBox ID="txtCheck" TextMode="Password" ToolTip="Password"  runat="server"></asp:TextBox></td></tr>
               <tr><td align="left">Subject</td><td align="left">
              <asp:TextBox ID="txtSub" Width="400px" runat="server"></asp:TextBox></td></tr>
          <tr><td align="center" colspan="2">
                  <FTB:FreeTextBox id="txtContent"  runat="Server"  Height="500px" Width="500px" Focus="false" SupportFolder="aspnet_client/FreeTextBox/" />

<%--          <asp:TextBox TextMode="MultiLine" ID="txtContent" runat="server" Height="500px" Width="500px"></asp:TextBox>
--%>          </td></tr>
         <tr><td colspan="2" align="center">
                              &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
               <asp:Button ID="btnCheckEmail" runat="server" Text="Send Emails" Width="130px" />&nbsp;&nbsp;&nbsp; 
               </td></tr>
           
          </table>
     </td> </tr>
     <tr>
  <td align="center">
              <table border = "0" cellpadding = "3" cellspacing = "0">
           <tr><td align="left" valign="top">
                  &nbsp;</td>
                  <td align="left" valign="top"> 
                 <asp:Label ID="lblBounced" ForeColor="Red" runat="server" ></asp:Label> </td></tr>
    </table>
    </td> </tr>
     <tr>
  <td align="center">
      
           &nbsp;</td> </tr>
     <tr>
  <td align="left">
   
  </td></tr>  </table> 
 
    </div>
    </form>
</body>
</html>
