<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="GameFunctions.aspx.vb" Inherits="GameFunctions" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<div class="Heading" align="center">
        <h1>
            Game Functions</h1>
    </div>
    <table id="Table1" style="bordercolor:#cc6600; bgcolor:#ff9966; border-color:#ffffff" cellspacing="1" 
        cellpadding="1" width="70%" border="2">
        <thead>
            <tr>
                <td style="bordercolor:#ffff99; background-color:#ffffcc; height: 19px; width: 246px;">
                    Application</td>
                <td style="bordercolor:#ffff99; background-color :#ffffcc; height: 19px;">
                    Main Option</td>
                    <td style="bordercolor:#ffff99; background-color :#ffffcc; height: 19px;">
                    Reports</td>
             
            </tr>
        </thead>
        <tr>
        </tr>
        
       
        <tr id="trParent" runat="server">
            <td style="bordercolor:#ffff99; background-color:#ffffcc; width: 246px; height: 84px;">
                Game Functions<br />
                
                </td>                
            <td style="bordercolor:#ffff99; background-color :#ffffcc; height: 84px;"><br />
                <asp:LinkButton ID="lnkSB" runat="server" Text="Spelling"></asp:LinkButton> 
                <asp:Label ID="lblsb" runat="server" ForeColor="red"></asp:Label><br /><br />
                <asp:LinkButton ID="lnkVB" runat="server" Text="Vocabulary"></asp:LinkButton>
                <asp:Label ID="lblvb" runat="server" ForeColor="red"></asp:Label><br />
                
                </td>
               <td style="bordercolor:#ffff99; background-color:#ffffcc; width: 246px; height: 84px;">
                <br />
                
                </td>  </tr></table>
               


</asp:Content>

