﻿
<!DOCTYPE html>

<html >
<head >
    <style>
        table {
  border: 1px solid #666;   
    width: 100%;
}
th {
  background: #f8f8f8; 
  font-weight: bold;    
    padding: 2px;
}
    </style>
    <title></title>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

     <script type="text/javascript">

        var mockDataForThisTest = "json=" + encodeURI(JSON.stringify([
    {
        id: 1,
        firstName: "Peter",
        lastName: "Jhons"
    },
{
    id: 2,
    firstName: "David",
    lastName: "Bowie"
}
        ]));


        var app = angular.module('myApp', []);

        function PeopleCtrl($scope, $http) {
          
            $scope.people = [];

            $scope.loadPeople = function () {
                alert("testing");
                var httpRequest = $http({
                    method: 'POST',
                    url: '/echo/json/',
                    data: mockDataForThisTest

                }).success(function (data, status) {
                    alert("success");
                    $scope.people = data;
                });

            };

        }
        $(function (e) {
            alert("");
            loadPeople();
        });
    </script>
</head>
<body>
    
   <div ng-app="myApp">
<div ng-controller="PeopleCtrl">
    <p>    Click <a ng-click="loadPeople()">here</a> to load data.</p>
    <a>testing</a>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.id}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
    </tr>
</table>
</div>
</div>
   
</body>
</html>
