<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="Logout.aspx.vb" Inherits="Logout" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<table width=100% height =10><tr><td align=center>
<font class="MidFont">You have logged out of the NSF.</font>
</td></tr></table>
</asp:Content>


 

 
 
 