<%@ Page Language="vb" AutoEventWireup="false" Inherits="VRegistration.MainPage" CodeFile="MainPage.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>Contents Frameset</TITLE>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<frameset rows="20%,*">
		<frame id="frmMain" name="main" src="MainHead.htm" frameBorder="no" scrolling="no" runat="server"></frame>
		<frame id="frmContents" name="contents" src="Login.aspx" frameBorder="no" runat="server" scrolling="auto"></frame>
	</frameset>
</HTML>

 

 
 
 