<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false"
    CodeFile="MainTest.aspx.vb" Inherits="MainTest" Title="North South Foundation" %>

<asp:Content ID="Content2" ContentPlaceHolderID="Content_main" runat="Server">
    <table id="Table1" runat="server" style="margin-left: 450px">
        <tr>
            <td>
                <a class="btn_02" href="login.aspx?entry=p">Parent</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn_02" href="login.aspx?entry=d">Donor</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn_02" href="login.aspx?entry=v">Volunteer</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn_02" href="login.aspx?entry=s">Student</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn_02" href="login.aspx?entry=g">Game</a>
            </td>
        </tr>
       <%--
       ferdine Commented for editing Jan 06
        <tr>
            <td>
                <a class="btn_02" href="login.aspx?entry=w">Walk-a-thon/Marathon</a>
            </td>
        </tr>--%>
    </table>
</asp:Content>
