<%@ Page Language="vb" AutoEventWireup="false" Inherits="VRegistration.MenuActions" CodeFile="MenuActions.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>MenuActions</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body topmargin="0" leftmargin="0">
		<form id="Form1" method="post" runat="server">
			<table width="10%" id="Table1">
				<tr>
					<td noWrap>
						<asp:HyperLink id="hlAddEvent" runat="server" CssClass="LeftNav" NavigateUrl="#">Add Event</asp:HyperLink>
					</td>
				<tr>
				<tr>
					<td noWrap>
						<asp:HyperLink id="hlEditEvent" runat="server" CssClass="LeftNav" NavigateUrl="#">Edit Event</asp:HyperLink>
					</td>
				<tr>
					<td noWrap>
						<asp:HyperLink id="hlRegisterHere" runat="server" CssClass="LeftNav" NavigateUrl="#">Register Here</asp:HyperLink>
					</td>
				<tr>
					<td noWrap><asp:HyperLink id="hlEditRegistration" runat="server" CssClass="LeftNav" NavigateUrl="#">Edit Registration</asp:HyperLink>
					</td>
				<tr>
					<td noWrap>
						<asp:HyperLink id="hlEventSignUp" runat="server" CssClass="LeftNav" NavigateUrl="#">Event SignUp </asp:HyperLink>
					</td>
				<tr>
					<td noWrap>
						<asp:HyperLink id="hlViewEvents" runat="server" CssClass="LeftNav" NavigateUrl="#">View SignUp Events</asp:HyperLink>
					</td>
				<tr>
					<td noWrap>
						<asp:HyperLink id="hlContactInfo" runat="server" CssClass="LeftNav" NavigateUrl="#">Contact info</asp:HyperLink>
					</td>
				</tr>
				<tr>
					<td nowrap>
						<asp:HyperLink id="hlAspiringVolunteers" runat="server" CssClass="LeftNav" NavigateUrl="#">Aspiring Volunteers</asp:HyperLink>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>

 

 
 
 