<%@ Page Language="vb" MasterPageFile="~/NSFMasterPage.master" Inherits = "NFG_Supplement" CodeFile="NFG_Supplement.aspx.vb" Title="NFG_Supplement" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
  <asp:label ID ="lblErr" runat="server" ForeColor="Red"></asp:label>
</asp:Content>

