<%@ Page Language="vb" MasterPageFile="~/NSFMasterPage.master" Inherits = "NFG_Supplement" CodeFile="NFG_Supplement.aspx.vb" Title="NFG_Supplement" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<table align="left"><tr>
      <td><asp:HyperLink runat="server" ID="hlnkMainMenu" Text="Back to Main Page" NavigateUrl="~/VolunteerFunctions.aspx"></asp:HyperLink>
      </td>
    </tr>
</table>

<table align="center"><tr><td align="center" colspan="2"> NGF_Supplement  <br /> <br /></td></tr>
    
    <tr><td align="left">From </td><td align="left"> : 
               <asp:TextBox ID="TxtFrom" runat="server"></asp:TextBox></td> <td>
                   <asp:RequiredFieldValidator ControlToValidate="TxtFrom" ID="RequiredFieldValidator1" runat="server" ErrorMessage="*"></asp:RequiredFieldValidator>
               </td>
    </tr>
    <tr><td align="left">To </td><td align="left"> : 
               <asp:TextBox ID="txtTo" runat="server"></asp:TextBox></td> <td>
               <asp:RequiredFieldValidator ControlToValidate="txtTo" ID="RequiredFieldValidator2" runat="server" ErrorMessage="*"></asp:RequiredFieldValidator>
        </td>
     </tr>
     
     <tr><td align="center"><br />
                 <asp:Button ID="BtnSubmit" OnClick="BtnSubmit_Click" runat="server" Text="UpdateStatus Flag" />
                 &nbsp;&nbsp;&nbsp;</td><td><br /> 
              <asp:Button ID="btnGenAll" OnClick="btnGenAll_Click" runat="server" Text="Generate NFG_Supp Data" />
                &nbsp;&nbsp;&nbsp;
                 </td><br />
     </tr>
     <tr align="center"><td align="center" colspan="2"><asp:label ID ="lblErr" runat="server" ForeColor="Red"></asp:label></td></tr>
</table>
 
</asp:Content>

