﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NSFInnerMasterPage.master" AutoEventWireup="true" CodeFile="NSFChampionsListold.aspx.cs" Inherits="NSFChampionsList" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">

<div>

        Write your name: <asp:TextBox ID="txtName" runat="server"></asp:TextBox>

        <asp:RequiredFieldValidator id="req1" runat="server" ControlToValidate="txtName" Text="*"></asp:RequiredFieldValidator>

        <br />
 <asp:Button ID="btn" runat="server" OnClick="GenerateMsWordDoc" Text="Generate Ms Word Document" />

    </div>

</asp:Content>

