﻿<%@ Page Title="" Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="NSFChampionsList_Excel.aspx.vb" Inherits="NSFChampionsList" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<asp:Button ID="btn" runat="server"  Text="Generate Ms Word Document" />
</asp:Content>

