<%@ Master Language="VB" CodeFile="NSFMasterPage.master.vb" Inherits="VRegistration.NSFMasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>NorthSouth Foundation</title>
   
    <!-- Style Sheets -->
<%--<link href="style.css" rel="stylesheet" type="text/css" />--%>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<%--<link href="css/menu_style.css" rel="stylesheet" type="text/css" />
<link href="css/glossymenu.css" rel="stylesheet" type="text/css" />--%>

<!-- Scripts -->
<%--<script type="text/javascript" src="js/layer.js"></script>--%>
<%--<script type="text/javascript" src="js/imageswap.js"></script>
<script type="text/javascript" src="js/ddaccordion.js"></script>
<script type="text/javascript" src="js/nsfddaccordion.js"></script>--%>

<script type="text/javascript" language="javascript">
			window.history.forward(1);
</script>	
</head>
<body><!-- Start header-->
<form id="form1" runat="server">  
   <table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" align="right" valign="top" background="images_new/left_bg.jpg"><img src="/images_new/left_bg.jpg" width="10" height="5" /></td>
    <td width="951"><table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="82%" valign="top">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                
                <tr>
                  <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="24%" valign="top"  background="images_new/topbg.jpg">
                      <img src="images_new/img_01.jpg" alt="" width="232" height="144" border="0" usemap="#Map" />
                        <map name="Map" id="Map">
                          <area shape="circle" coords="105,81,61" href="http://www.northsouth.org/" />
                        </map></td>
                      <td width="76%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="51%"  background="images_new/topbg_1.jpg"><img src="images_new/img_02.jpg" alt="" width="399" height="109" /></td>
                              <td width="49%" valign="top" background="images_new/img_03.jpg"><table width="89%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="30%">&nbsp;</td>
                                  <td width="70%">
                                  <table width="95%" height="31" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td valign="middle" style="padding-left:10px; padding-top:5px">
                                        <asp:Menu ID="NavLinks" CssClass="Nav_menu" runat="server" Orientation="Horizontal">
                                        <Items>                    
                                       
                                        </Items>     
                                        </asp:Menu>
                                        <%--<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab">
                                            <tr>
                                              <td id="1" align="left" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu1&quot;,'1')" style="color: #ff7777"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/public/images/us_login_btn.jpg',1)"><img src="images_new/us_login.jpg" alt="US Login" name="Image3" width="77" height="22" border="0" id="Image3" /></a></td>
                                            </tr>
                                        </table>--%>
                                            <%--<div id="Menu1" style="position: absolute; z-index: 1; width: 110px; visibility: hidden;">
                                              <table width="110" cellpadding="0" cellspacing="0" bgcolor="#87BE01" style="border-collapse: collapse;">
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td width="6" align="center" class="right_btn">&nbsp;</td>
                                                  <td width="104" align="left" class="top_btn"><a href="login.aspx?entry=p">Parent Login</a>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="images_new/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="login.aspx?entry=v">Volunteer Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="images_new/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="login.aspx?entry=d"> Donor Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="images_new/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                              </table>
                                            </div></td>
                                        <td width="56%"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab">
                                            <tr>
                                              <td id="2" align="left" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu2&quot;,'2')" style="color: #ff7777"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/public/images/india_login_btn.jpg',1)"><img src="images_new/india_login.jpg" alt="India Login" name="Image4" width="91" height="22" border="0" id="Image4" /></a></td>
                                            </tr>
                                        </table>
                                            <div id="Menu2" style="position: absolute; z-index: 1; width: 105px; visibility: hidden;">
                                              <table width="105" cellpadding="0" cellspacing="0" bgcolor="#87BE01" style="border-collapse: collapse;">
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td width="5" align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="http://www.northsouth.org/nsfindiadb/applicants.html" target="_blank">Applicants Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="images_new/line.jpg" width="105" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="http://www.northsouth.org/nsfindiadb/volunteers.html" target="_blank">Volunteers Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="images_new/line.jpg" width="105" height="1" /></td>
                                                </tr>
                                              </table>
                                            </div>--%></td>
                                      </tr>
                                  </table></td>
                                </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="35" background="images_new/menubg.jpg"><div>
<!-- Menu Area -->
</div></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                  </tr>

                    
<!-- ENd header-->

                <tr>
                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top">
                      <table width="98%" height="380px" border="0" align="left" cellpadding="0" cellspacing="6"><tr><td>
                      
                      

                    <asp:ContentPlaceHolder ID="Content_main" runat="server">
                    </asp:ContentPlaceHolder>  
                    
                    
                    
                    <p></p>
                    <table ><tr><td>
                 
                    </td></tr></table>
                    

   <!-- navigation Menu -->
<!-- end content section -->                    
        </td></tr></table>
</td>
</tr>

<!-- start footer-->

                  </table>
			      </td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#46A71C" valign="middle" style="padding:2px"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="476"  align="left" class="bottom">
                <a href="/public/aboutus/aboutus.aspx">About Us</a>&nbsp;&nbsp;|&nbsp;
                <a href="/public/main/faq.aspx">FAQ</a>&nbsp;&nbsp;|&nbsp;
                <a href="/public/main/contact.aspx">Contact Us</a>&nbsp;&nbsp;|&nbsp;
                <a href="/public/main/privacy.aspx">Privacy Policy</a>
            </td>
          </tr>
        </table></td>
      </tr>
      
    </table></td>
    <td width="10" align="left" valign="top" background="images_new/right_bg.jpg"><img src="images_new/right_bg.jpg" width="10" height="5" /></td>
  </tr>
  <tr>
    <td colspan="3"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="25" align="left" class="btn_05">Copyright &copy; 2011 North South Foundation.</td>
        <td height="25" align="right" valign="middle" class="btn_05">Follow Us: 
        <a href="http://twitter.com/NSFBee" target="_blank"><img src="images_new/icon_twitter_15x15.gif" alt="Twitter" width="15" height="15" border="0" /></a>
        <a href="http://www.facebook.com/NorthSouthFoundation" target="_blank"><img src="images_new/icon_facebook_15x15.gif" alt="Facebook" width="15" height="15" border="0" /></a>
        <a href="http://www.youtube.com/user/northsouthusa#g/a" target="_blank"><img src="images_new/icon_youtube_35x15.gif" alt="Youtube" width="35" height="15" border="0" /></a>
        </td>
        <!-- <td align="right" class="btn_05">Designed &amp; Developed by: <a href="http://www.metasenseusa.com/" target="_blank">www.metasenseusa.com</a></td> -->
      </tr>
    </table></td>
  </tr>
</table>
</form>
<!--End footer-->

</body>