﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NSFMasterPage.master" EnableEventValidation="false"
    AutoEventWireup="true" CodeFile="NSFMajorLeaguePdf.aspx.cs" Inherits="NSFMajorLeaguePdf" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" runat="Server">

<style type="text/css">
.st {
	vertical-align:top;
}
-->
</style> 
    <asp:LinkButton ID="lbtnVolunteerFunctions" CssClass="btn_02" PostBackUrl="~/VolunteerFunctions.aspx"
        runat="server">Back to Volunteer Functions</asp:LinkButton>


    <div align="center" id="Iddonation" style="font-size: 26px; font-weight: bold; font-family: Calibri;
        color: rgb(73, 177, 23);"
        runat="server">
        Major League Winners
    </div>
    <br />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
               
    &nbsp;&nbsp;&nbsp;&nbsp;
   

   <table>
       <tr>
           <td style="width: 71%"></td>
           <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btnsearchChild0" runat="server" Text="Generate Report" OnClick="btnsearchChild0_Click" />
           </td>
       </tr>
   </table>
    <%--    <div style=" border: 3px solid black; padding:5px;">--%>
    <%--      <table id="Tblborder" style=" border: 3px solid black; padding:5px;"><tr><td></td></tr>--%>
    <%--  <tr>--%>
    <br />
    
   <div id="Div1" runat="server" align="center">
    <asp:DataList runat="server" ID="DataLists" OnItemDataBound="DataLists_ItemDataBound">
        <ItemTemplate>
            <div style="vertical-align:top;">
          <br /> <asp:Label runat="server"  Font-Bold="true" ID="lblname" Text='<%# Eval("contest") %>'></asp:Label>
           <br /><asp:HiddenField ID="hdn" runat="server" Value='<%# Eval("contest") %>'>
                        </asp:HiddenField>
         
            <asp:DataList ID="DataList1" runat="server" OnItemDataBound="DataList1_ItemDataBound"  RepeatColumns="2" ItemStyle-VerticalAlign="Top">    
                <ItemTemplate>
                <br />
                    <div style="vertical-align:top;text-align:left">
                            <asp:Label runat="server" ID="lblyear" Font-Bold="true" Text='<%# Eval("ContestYear") %>'></asp:Label>
                                    <asp:Label runat="server" ID="lblContest" Visible="false" Text='<%# Eval("contest") %>'></asp:Label>
                                                <br />
                    
                    <asp:Repeater ID="rp_Postings" runat="server">
                       
                        <ItemTemplate>                            
                              <div style="vertical-align:top;text-align:left">
                                        <asp:Label runat="server" ID="Label2" Text='<%# Eval("Place") %>'></asp:Label>.
                                         <asp:Label runat="server" ID="lblname" Text='<%# Eval("FIRST_NAME") %>'></asp:Label>
                                        <asp:Label runat="server" ID="Label1" Text='<%# Eval("LAST_NAME") %>'></asp:Label>
                                  
                            </div>
                        </ItemTemplate>
                    </asp:Repeater>
                         </div>
                </ItemTemplate>
            </asp:DataList>
                </div>
        </ItemTemplate>
    </asp:DataList>
    </div>


  

</asp:Content>

