﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NSFMasterPage.master" EnableEventValidation="false" AutoEventWireup="true" CodeFile="NSFMajorLeaguePdfaspx.aspx.cs" Inherits="NSFMajorLeaguePdfaspx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
    

    <asp:LinkButton ID="lbtnVolunteerFunctions" CssClass="btn_02" PostBackUrl="~/VolunteerFunctions.aspx" runat="server">Back to Volunteer Functions</asp:LinkButton>


    <div align="center" id="Iddonation" style="font-size: 26px; font-weight: bold; font-family: Calibri;
        color: rgb(73, 177, 23);"
        runat="server">
        Major League Winners
    </div>
    <br />
   
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
    &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
               
    &nbsp;&nbsp;&nbsp;&nbsp;
   

   <table><tr><td  style="width:71%"></td><td>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btnsearchChild0" runat="server" Text="Generate Report" OnClick="btnsearchChild0_Click" /></td></tr></table>
<%--    <div style=" border: 3px solid black; padding:5px;">--%>
      <%--      <table id="Tblborder" style=" border: 3px solid black; padding:5px;"><tr><td></td></tr>--%>
          <%--  <tr>--%>
  
    <asp:DataList runat="server" ID="DataLists"
        OnItemDataBound="DataLists_ItemDataBound">
        <ItemTemplate>
         
          
                        <asp:Label runat="server"  Font-Bold="true" ID="lblname" Text='<%# Eval("contest") %>'></asp:Label>
                      <br />
                     <asp:HiddenField ID="hdn" runat="server" Value='<%# Eval("contest") %>'>
                        </asp:HiddenField>
                   
              
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:DataList
                ID="DataList1" RepeatColumns="2" 
                runat="server" OnItemDataBound="DataList1_ItemDataBound" >
              

                <ItemTemplate>
                  
                    
         
                          
                                       <asp:Label runat="server" ID="lblyear" Font-Bold="true" Text='<%# Eval("ContestYear") %>'></asp:Label>
                                  
                                 <br />
                              
                                       <asp:Label runat="server" ID="lblContest" Visible="false" Text='<%# Eval("contest") %>'></asp:Label>
                              

                                     <br />
                                   <asp:Repeater ID="rp_Postings" runat="server">
                                       <ItemTemplate>
                                       <table style="width:100%">
                                            <tr>
                                               <td ><asp:Label runat="server" ID="Label2" Text='<%# Eval("Place") %>'></asp:Label>.
                                                
                                                   <%--  <asp:HiddenField ID="hdnpostChargeid" runat="server" Value='<%# Eval("PostChargeID") %>' />--%>
                                              
                                                   <asp:Label runat="server" ID="lblname" Text='<%# Eval("FIRST_NAME") %>'></asp:Label>
                                                   <asp:Label runat="server" ID="Label1" Text='<%# Eval("LAST_NAME") %>'></asp:Label>,
                                                   </td></tr>
                                                  <%-- <asp:Label runat="server" ID="Label3" Text='<%# Eval("City") %>'></asp:Label>,
                                              <asp:Label runat="server" ID="Label4" Text='<%# Eval("State") %>'></asp:Label>--%>
                                              <br />
                                             </table> 
                                       </ItemTemplate>
                                   </asp:Repeater>



                </ItemTemplate>

            </asp:DataList>
        </ItemTemplate>
    </asp:DataList>

    <%--</tr>--%>
  <%--     </table>--%>
    <br />
    <br />
    <br />

    

    </div>

</asp:Content>

