﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="nsfupload.aspx.vb" Inherits="nsfupload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:FileUpload ID="fulCardFile" runat="server" Height="25px" Width="600px" />
        <br /><br />
        <asp:Button ID="btnImport" runat="server" Text="Import" Width="72px" />
        <br /><br />
        <asp:Label ID="lblMessage" runat="server" Text=""></asp:Label>
        <br />
    </div>
    </form>
</body>
</html>
