﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NSFMasterPage.master"  AutoEventWireup="true" CodeFile="QpaperGen.aspx.cs" Inherits="QpaperGen" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
 <div align="left">
        <asp:HyperLink ID="backToVolunteerFunctions" CssClass="btn_02" NavigateUrl="~/VolunteerFunctions.aspx"
            runat="server"> Back to Volunteer Functions</asp:HyperLink>
            &nbsp&nbsp&nbsp&nbsp
        
          
    </div>
        <div align="center" id="IdQuestion" style="font-size: 26px; font-weight: bold; font-family: Calibri;
                color: rgb(73, 177, 23);" runat="server" >
              QuestionPaperGeneration
            </div>
            <br />
            <table >
            <tr>
                <td style="width: 280px"></td><td style="width:60px"></td><td>
<asp:Button ID="btnSubmit" OnClick="btnSubmit_Click" runat="server" Text="Generate Question Paper" /></td></tr></table>
</asp:Content>
