﻿<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="QRAttendance.aspx.vb" Inherits="QRAttendance" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<div align="left">
        <asp:HyperLink  ID="hlnkMainPage" NavigateUrl="~/VolunteerFunctions.aspx"  CssClass="btn_02" runat="server">Back To Volunteer Functions</asp:HyperLink>
</div>
<table align="center" visible="True"><tr><td><asp:Label ID="LblBarCode" runat="server" Text="" Visible=True ForeColor="Green" Font-Bold="true"></asp:Label></td></tr></table> 
</asp:Content>

