<%@ Page Language="vb" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" Inherits="VRegistration.reg_Success_Final2" Trace="false" CodeFile="reg_Success_Final2.aspx.vb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">

<script>
<!--

    /*
    Count down then redirect script
    By JavaScript Kit (http://javascriptkit.com)
    Over 400+ free scripts here!
    */

    //change below target URL to your own
    var targetURL = "http://www.northsouth.org/public/main/excelathon.aspx"
    //change the second to start counting down from
    var countdownfrom = 10


    var currentsecond = document.redirect.redirect2.value = countdownfrom + 1
    function countredirect() {
        if (currentsecond != 1) {
            currentsecond -= 1
            document.redirect.redirect2.value = currentsecond
        }
        else {
            window.location = targetURL
            return
        }
        setTimeout("countredirect()", 1000)
    }

    countredirect()
//-->
</script>
<table cellSpacing="0" cellPadding="0" border="0">
				<TR>
					<td valign="middle"  Style="font-family:Trebuchet MS;font-size: 25px;	line-height: 25px;	font-weight: normal;	color: #46A71C;	text-decoration: none;	font-style: normal;padding-bottom: 5px;" align="right" > <br />Please  <asp:hyperlink id="Hyperlink2" Font-Underline="false" runat="server"  NavigateUrl="http://www.northsouth.org/public/main/excelathon.aspx">click here </asp:hyperlink> to finish the registration process </td>
				</TR>
				<TR>
					<TD class="largewordingbold"><asp:label id="lblDonationMessage" runat="server"></asp:label></TD>
				</TR>
				<TR>
					<TD class="largewordingbold"><asp:label id="lblMessage" runat="server"></asp:label></TD>
				</TR>
				<TR>
					<TD class="largewordingbold"></TD>
				</TR>
				<TR>
					<TD class="largewordingbold"><asp:label id="lblEmailStatus" runat="server"></asp:label></TD>
				</TR>
				<TR>
					<TD class="largewordingbold"></TD>
				</TR>
				<TR>
					<TD class="largewordingbold"><FONT color="#ff0000" size="3">Please Do Not use Back 
							Button on Browser to avoid Duplicate Charges to your Credit Card.</FONT></TD>
				</TR>
				<TR>
					<TD class="largewordingbold"></TD>
				</TR>
				<tr>
					<td class="ContentSubTitle" align="left" colSpan="2"></td>
				</tr>
			</table>
			
			<table width="100%">
				<tr>
					<TD class="largewordingbold" align="center"><FONT color="#cc3300" size="4"><STRONG></STRONG></FONT></TD>
					<td class="Content">
					</td>
				</tr>
				<tr>
					<td>
					
						<asp:hyperlink id="Hyperlink1" runat="server" Visible="false" NavigateUrl="UserFunctions.aspx">Back to Registration Page to look for Registration status</asp:hyperlink>
						
					</td>
				</tr>
			</table>
</asp:content>
		


 

 
 
 