</td>
<td width="34%" valign="top">
<table width="86%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
    <td><img src="../images/img_25.jpg" alt="News &amp; Events" width="217" height="29" /></td>
    </tr>
    <tr>
    <td valign="top" align="center" background="../images/img_28.jpg">
     <iframe src ="scroll.htm" width="200" height="190" frameborder=0 scrolling="no"></iframe>        
    </td>
    </tr>
    <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="100%" background="../images/img_31.jpg">&nbsp;</td>
                <td width="100px" ><img src="../images/img_321.jpg"/></td>
            </tr>
        </table>
    </td>
    </tr>
     <tr><td height="10px"></td> </tr> 
    <tr><td align="center">
    <img src="images/scholarships2013.jpg" style="cursor:pointer"
				onmouseover="this.src='images/scholarships2013_hover.jpg'"
				onmouseout="this.src='images/scholarships2013.jpg'"
				onclick="window.location='Scolarship2013_2014.aspx'">
				
				
				<script type="text/javascript">
				    function show() {
				        var status = document.getElementById("hidepqc").style.display;
				        if (status == "none") {
				            document.getElementById("hidepqc").style.display = "inline";
				            window.location = "scholarships.aspx#2009";
				        }
				        else {
				            document.getElementById("hidepqc").style.display = "none";
				        }
				    }
				</script>
				
    </td></tr>
    <tr><td align="center">
<a href="Doc/2014scholarshipflier.pdf" target="_blank"> <img src="images/scholarships3.jpg" style="cursor:pointer"
				onmouseover="this.src='images/scholarships_hover3.jpg'"
				onmouseout="this.src='images/scholarships3.jpg'" border='0'/></a>
				  </td></tr>
    </table></td>
</tr></table>
</td>
</tr>

<!--#include file="/public/main/footer.aspx"-->

</body>