<%@ Page Language="VB" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<%@ Import Namespace="System.Xml" %>
<%@ Import Namespace="System.Configuration" %>
<script language="VB" runat="server">

	Sub Page_Load(sender as Object, e as EventArgs)

     	Dim UserEmail as string   = trim(Request("UserEmail"))
		Dim Contest as string  = trim(Request("Contest"))
     	Dim Password as string     = trim(Request("Password"))

     	If UserEmail = ""  or Contest = ""  or Password = ""  then
     		Response.Write("Missing required input values ") 	
			Response.End() 	
		End if

		Dim myConnection As SqlConnection
		' Create connection and set connection string	
		Dim aConfig As ConfigurationSettings
	    Dim sConStr As String = aConfig.AppSettings("DBConnection")
		myConnection = New SqlConnection(sConStr)
	 

		Dim sSql as string
		' Create a new command object that uses our connection
		' and set the text of the command to be executed


'		sSql = "SELECT   c.PaymentReference, c.PaymentDate , c.CreateDate, c.contestant_id, isnull(c.BadgeNumber,'') AS BadgeNumber, 'isnull(d.FIRST_NAME + ' ' + d.LAST_NAME,'') AS ParticipantName, "
'        sSql = sSql + " isnull(e.ChapterCode,'') AS Center, isnull(d.GRADE,'') AS Grade, isnull(d.DATE_OF_BIRTH,'') AS DOB "
'		sSql = sSql + " FROM         dbo.Child d INNER JOIN"
'        sSql = sSql + " dbo.Contestant c ON d.MEMBERID = c.ParentID AND d.ChildNumber = c.ChildNumber INNER JOIN"
'        sSql = sSql + " dbo.ContestCategory a INNER JOIN"
'        sSql = sSql + " dbo.Contest b ON a.ContestCategoryID = b.ContestCategoryID ON c.ContestCode = b.ContestID AND c.ChapterID = b.NSFChapterID INNER JOIN"
'        sSql = sSql + " northsouth.dbo.Chapter e ON b.NSFChapterID = e.Chapterid INNER JOIN"
'        sSql = sSql + " northsouth.dbo.login_master l ON e.ChapterCode = l.chapter"
'		sSql = sSql + " WHERE  c.PaymentReference IS NOT NULL AND a.ContestDesc = '" + Contest + "'"
'		sSql = sSql + " AND c.ContestYear = year(getdate()) "
'		sSql = sSql + " AND l.user_email =  '" + UserEmail + "'"
'		sSql = sSql + " AND l.user_pwd = '" + Password + "'"
'		sSql = sSql + " AND l.user_role = 'general'"
'		sSql = sSql + " ORDER BY c.BadgeNumber"


   	sSql = "exec RetrieveScores2009 '" + UserEmail + "', '" + Password + "', '" + Contest + "'"

  	'response.write( ssql )
     	'response.end

	

		Dim myCommand    As SqlDataAdapter
		myCommand = New SqlDataAdapter(ssql, myConnection)
	
		Dim myDataSet    As DataSet
		' Create a new dataset
		myDataSet = New DataSet()
		
		' This line changes the name of the outer container
		' tags in the resulting xml file.
		myDataSet.DataSetName = "contestants"
		
		' Use the command to fill our DataSet
		myCommand.Fill(myDataSet, "contestant")

'response.write(myDataSet.Tables.Count)
'response.end
		'return the data set as xml
		myDataSet.WriteXml(Response.OutputStream)
		
	End Sub
	
</script>

 

 
 
 