/* Default CSS Stylesheet for a new Web Application project */

.title
{
	font-family: Garamond, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
}

.sub_title 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
}

.menu 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.link_top 
{
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.link 
{
	color:#003399;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}

.link_current 
{
	color: #003399;
        font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a:hover {
	color: #003399;
        font-weight: bold;
}

.link-small 
{
	color:#003399;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
}

.style_bold 
{
	font-size: 30px;
	color: #3333CC;
	font-weight: bolder;
	font-family: Garamond, Helvetica, sans-serif;
}

#vertmenu {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12;
padding: 0px;
margin: 0px;
}

#vertmenu h1 {
display: block;
background-color:#3366CC;
font-size: 100%; 
padding: 3px 0 5px 3px;
border: 0px solid #3366CC;
color: #FFFFFF;
margin: 0px;
width:170px;
}

#vertmenu h2 {
	display: block;
	background-color:#FFFFFF;
	font-size: 80%;
	padding: 3px 0 5px 3px;
	border: 1px solid #3366CC;
	color: #3366CC;
	margin: 0px;
	width:90%;
}

#vertmenu h3 {
display: block;
background-color:#3366CC;
font-size: 80%; 
padding: 3px 0 5px 3px;
border: 0px solid #000000;
color: #FFFFFF;
margin: 0px;
width:100%;
}

#vertmenu ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}

#vertmenu ul li {
margin: 0px;
padding: 0px;
}

#vertmenu ul li a {
font-size: 70%;
font-weight: bold;
display: block;
border-bottom: 1px solid #B4CFEC;
padding: 5px 0px 1px 4px;
text-decoration: none;
color: #003399;
width:170px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}

.style10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF6633;
	font-weight: bold;
}

.keytext 
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FF6600;
	font-size: 12px;
	font-weight: bold;
	list-style-type: square;
}

.announcement_text {
	font-size: 14px;
	color: #FF6633;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-variant: normal;
}

.pageText {
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.text_box 
{
	color: #003399;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.pageHeading 
{
	font-family: Garamond, Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #FF6633;
	font-weight: bold;
}

.subHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF6633;
	font-weight: bold;
}

#chapters {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #003399;
	text-decoration: overline;
	/*display: compact;*/
	border-color: #000066;
	border-width: 2px;
	border-top-style: double;
	border-top-width: medium;
	border-right-color: #000066;
	border-right-style: double;
	border-right-width: medium;
	border-bottom-color: #000066;
	border-bottom-style: double;
	border-bottom-width: medium;
	border-left-color: #000066;
	border-left-style: double;
	border-left-width: medium;
	float: left;
	clear: left;
	position: relative;
	width: 200px;
			}
.tableclass {
	border: thin solid #edf5ff;
}
.funtext {
	font-family: "Comic Sans MS";
	font-size: medium;
	font-style: italic;
	font-weight: bold;
	color: #FF9900;
}

BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}
.SmallFont
{
	font-weight:  normal;
	font-size : 9pt;
	text-transform: none;
	font-style: normal;
	font-family: Arial;
	font-variant: normal;
	text-decoration: none;
	color: Navy;
}
.LargeFont
{
	font-weight: bolder;
	font-size : 15pt;
	text-transform: none;
	font-style: normal;
	font-family: Arial;
	font-variant: normal;
	text-decoration: none;
	color: Green;
}

.MidFont
{
	font-weight: 500;
	font-size : 9pt;
	text-transform: none;
	font-style: normal;
	font-family: Arial;
	font-variant: normal;
	text-decoration: none;
	color: Navy;
}


.ErrorFont
{
	font-weight: 500;
	font-size : 10pt;
	text-transform: none;
	font-style: normal;
	font-family: Arial;
	font-variant: normal;
	text-decoration: none;
	color: Red;
}
.ContentSubTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: none;
    COLOR: Green;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana,arial;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}

.ItemLabel
{ 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none ;
}
.ItemLabelCenter
{ 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none ;
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing: normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
P 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;

}
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	color:green;
	}	
		
TH	{	
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: none;
    COLOR: Green;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana,arial;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
	}	
TD {
	vertical-align:	top;
	font-size:	1em;
	font-weight:	lighter;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial;	
	color: #333333;
	}
TD.ItemLabel
	{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align:right
	

	}	
TD.ItemLabelCenter
	{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align:center
	

	}	

TD.ItemText
	{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align: left;
	}	

TD.ItemCenter
	{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align: center;
	}	
TD.Heading
{
	font-weight: bold;
	font-size: 12pt;
	text-transform: capitalize;
	color: navy;
	font-style: normal;
	font-family: verdana,arial;
	text-align: center;
	font-variant: normal;
	text-decoration: none;
}	

TD.SmallFont
{
	font-weight: bolder;
	font-size : 9pt;
	text-transform: none;
	font-style: normal;
	font-family: Arial;
	font-variant: normal;
	text-decoration: none;
	color: Navy;
}

A:link	{	
/*	FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial; */
	color:	#3333cc;
	text-decoration: underline;
	}	

a:visited {
	color:#660099;
	}

a:hover {
	color:#7EA847;
	text-decoration:none
	}

a:active {
	color:#FF9900;
	}

	
		
A.LeftNav
{
    FONT-SIZE: 10px;
    TEXT-DECORATION: none;
    FONT-FAMILY: verdana,arial;
    COLOR: #003399;
}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	font-weight: bolder;
	font-size: 7pt;
	text-transform: none;
	color: navy;
	font-style: normal;
	font-family: verdana, arial;
	font-variant: normal;
	text-decoration: none;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}
.ItemLabel2
{
	font-weight: bolder;
	font-size: 7pt;
	text-transform: none;
	color: navy;
	font-style: normal;
	font-family: verdana, arial;
	font-variant: normal;
	text-decoration: none;
}
.FormButton
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: navy;
    BACKGROUND-COLOR: #c0c0c0;
    font-family: Verdana;
    text-align:center;
}

.FormButtonCenter
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: navy;
    BACKGROUND-COLOR: #c0c0c0;
    font-family: Verdana;
    text-align:center;
}

.GridFooter
{
	color: yellow /*"#8C4510";*/
/*	background-color: black /*"#F7DFB5";*/
}
.Even
{
	color: Navy;
	background-color: White;
}
.Odd
{
	color: Navy;
	background-color: Gray;
}
.GridHeader
{
	font-weight:bolder;
	color: maroon;
	font-family: Verdana, 'Times New Roman' , Arial;
	background-color: white ; /*peachpuff;*/
}

.GridHeader a
{
	FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial;
	text-decoration:	none;
	color:	#3333cc;
}

.GridHeader a:visited {
	color:#660099;
	}

.GridHeader a:hover {
	color:#7EA847;
	text-decoration:none
	}

.GridHeader a:active {
	color:#FF9900;
	}


.GridHeader
{
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial;
	text-decoration:	underline;
	color:	#333399;
}
.GridStyle
{
	border-left-color: silver;
	background-image: none;
	border-top-style: solid;
	border-top-color: silver;
	border-bottom: silver solid;
	border-right-style: solid;
	border-left-style: solid;
	background-color: white ; /*moccasin;*/
	border-right-color: silver;
}
.GridItem, .GridAltItem
{
    font-size: smaller;
}
.GridItem
{
	color: Maroon;
	font-family: Arial, 'Times New Roman' , Verdana;
	/*background-color: lightgoldenrodyellow;*/
}

.GridItem , .GridAltItem
{
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial;
	text-decoration:none;
	color:Maroon;
}
	
.GridAltItem
{
	color: Maroon;
	font-family: Arial, 'Times New Roman' , Verdana;
	background-color:  white/*snow;*/
}
.LinkItem
{
	color: navy;
	background-color: white;
}
.test
{
}
