
	<TABLE id="Table1" width=100% border="0">
				<TBODY>					
					<TR>
						<TD style="WIDTH: 36px"></TD>
						<TD>
			<p>
			Dear Parent,
			<p>
			Congratulations!
			<p>
            Thank you for confirming participation of your child(ren) for the
            2007 North South Foundation National Championship Finals to be held
            during August 25-26, 2007 at Ohio State University, Columbus, OH.
            Your credit card payment has been processed.
			<p>
            Payment Reference :[PAYMENTREFERENCE]
			<p>
			[DONATIONTEXT]
			<P>
            Here are the registration details for your child(ren). Please note
            that 2/3rd of the registration amount can be claimed as a
            tax-deductible donation. If your company matches your donation
            to non-profit organizations, please obtain a matching gifts form
            from your employer, fill out the top portion and mail to
            North South Foundation. By doing this, you double your contribution
            to the Foundation. Please retain this email for your records.
            This also serves as receipt for your tax-deductible contribution. 
			<p>
			Your tax-deductible contribution is:  [TAXDEDUCTIBLEAMOUNT]
		    <p>
    [DATAGRID]
<P>
A mail has been sent to your e-mail address regarding your registration
and the receipt of your payment. If you have any questions, please send us an
e-mail to <a href="mailto:nsfcontests@gmail.com" target="_blank">nsfcontests@gmail.com</a>.
<P>
<B><U>Upload Photo for the 2007 Bee Book</U></B>
<P>
After you are finished with the payment, please
<a href="https://www.northsouth.org/app9/login.aspx?entry=p" target="_blank">log back</a>
in to the NSF website.
You will see &ldquo;Upload photos for the Bee Book&rdquo; in the menu.
Please click on that link and upload a recent taken professional quality digital
passport size photo of the contestant(s) with plain background. We want the
best looking photo for the 2007 Bee Book. Please follow the
<a href="http://www.northsouth.org/2007_finals/photo_instructions.asp" target="_blank">
instructions</a> on the requirements for a quality photo.
If you have any further questions for photos, please e-mail to
<a href="mailto:nsfphoto@gmail.com" target="_blank">nsfphoto@gmail.com</a>.
<P>
<B><U>Practice Words</U></B>
<P>
Once you have uploaded the photo, please logout and
<a href="https://www.northsouth.org/app9/login.aspx?entry=p" target="_blank">log back</a>
in to the NSF website
and click on &ldquo;View Status&rdquo; in the menu.  You will be able to see a
link to download practice words (for spelling &amp; vocabulary only) for Finals.
Please right click on these links and click &ldquo;save target as&rdquo; to
download the practice word files. For Math/Geography/Essay Writing/Public Speaking,
the syllabus and instructions are the same as in the Regional contests.
Please click
<a href="http://www.northsouth.org/2007_finals/general_rules.asp" target="_blank">here</a>
for general and contest-specific rules for the Finals. Please click
<a href="http://www.northsouth.org/2007_finals/brainBee_rules.asp" target="_blank">here</a>
for Brain Bee rules . If you have any questions e-mail us at
<a href="mailto:nsfcontests@gmail.com" target="_blank">nsfcontests@gmail.com</a>.
<P>
This summer - Help your child help another child
<P>
By encouraging your children to participate in NSF contests, you are opening
a world of learning to them. By encouraging them to participate in our
Dollar-A-Square program, you are teaching them about giving. Consider this
materialistic world. Our children growing up here have almost everything they
need, but while in India yes, the same country where many of us got our education,
many are unable to get a college education. We urge you to encourage your child
to raise funds for India scholarships. They can give themselves or collect
from others. It&rsquo;s simple, it&rsquo;s easy, it&rsquo;s just A Dollar-A-Square (DAS)!
<P>
You can find out more about DAS and download a pledge sheet at
<a href="http://www.northsouth.org/dollarasquare.asp" target="_blank">
http://www.northsouth.org/dollarasquare.asp</a>.
<p>
Thank You
<p>
NSF National Coordination Team
<br>
<A href="http://www.northsouth.org" target="_blank">http://www.northsouth.org</A>
<p>
Helping those in need to help themselves
</p>
						</TD>
					</TR>
					</TABLE>



 
 
 