﻿<!DOCTYPE html>
<html>
    <head>
         <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>

	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
	   
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.filter('offset', function () {
        return function (input, start) {
            start = parseInt(start, 10);
            return input.slice(start);
        };
    });
    app.controller('CountyCtrl', function ($scope, $http) {
        $scope.itemsPerPage = 5;
        $scope.currentPage = 0;
        $scope.items = [];
  //      $scope.filteredItems = []
  //, $scope.currentPage = 1
  //, $scope.numPerPage = 10
  //, $scope.maxSize = 5;
  //      $scope.numPages = function () {
  //          return Math.ceil($scope.items.length / $scope.numPerPage);
  //      };
  //      $scope.makeitems = function () {
  //          $scope.items = [];
  //          for (i = 1; i <= 1000; i++) {
  //              $scope.items.push({ text: "todo " + i, done: false });
  //          }
  //      };
  //      $scope.makeitems();

  //      $scope.$watch("currentPage + numPerPage", function () {
  //          var begin = (($scope.currentPage - 1) * $scope.numPerPage)
  //          , end = begin + $scope.numPerPage;
  //          $scope.filteredItems = $scope.items.slice(begin, end);
  //      });
       $http.get("county.json").success(function (response) {
           $scope.items = response;

       }).error(function (response) { console.log(response) });
       $scope.prevPage = function () {
           if ($scope.currentPage > 0) {
               $scope.currentPage--;
           }
       };

       $scope.prevPageDisabled = function () {
           return $scope.currentPage === 0 ? "disabled" : "";
       };

       $scope.pageCount = function () {
           return Math.ceil($scope.items.length / $scope.itemsPerPage) - 1;
       };

       $scope.nextPage = function () {
           if ($scope.currentPage < $scope.pageCount()) {
               $scope.currentPage++;
           }
       };

       $scope.nextPageDisabled = function () {
           return $scope.currentPage === $scope.pageCount() ? "disabled" : "";
       };
    });
</script>
</head>
    <body>

    
        <div ng-app="myApp" ng-controller="CountyCtrl">
             <div class="col-md-8 col-md-offset-2">
                 <h1> Country Details</h1>
              <div class="col-md-8 col-md-offset-2">
	     <form class="form-horizontal" role="form">
	        <div class="form-group">
                <label for="input1" class="col-md-4 control-label">Search by Common</label>
	          <div class="col-sm-6">
	            <input type="text" class="form-control" id="input1" placeholder "Common Name" ng-model="filterItems.name.common">
	          </div>
	        </div>
	 </form>
   <form class="form-horizontal" role="form">
	        <div class="form-group">
                <label for="input1" class="col-md-4 control-label">Search by Currency</label>
	          <div class="col-sm-6">
	            <input type="text" class="form-control" id="Text1" ng-model="filterItems.currency">
	          </div>
	        </div>
	 </form>

                 <table class="table table-striped table-bordered">
                     <thead>
                         <tr>
                             <th>#</th>
                             <th>common</th>
                             <th>Official</th>  
                              <th>Region</th>
                             <th>Sub-Region</th>
                               <th>Currency</th>          <th>Languages</th>                     
                         </tr>
                     </thead>
                     <tbody>

                         <tr ng-repeat="i in items | filter:filterItems| offset: currentPage*itemsPerPage |  limitTo: itemsPerPage">
                             <td>{{$index + 1}}</td>
                             <td>{{ i.name.common }}</td>
                           <td>{{ i.name.official }}</td> 
                             <td>{{ i.region }}</td> 
                             <td>{{ i.subregion }}</td> 
                             <td>{{ i.currency }}</td><td>{{ i.languages }}</td>
                         </tr>
                         </tbody>
                     <tfoot>
                         <tr>
      <td colspan="4">
        <div class="pagination">
          <ul>
            <li ng-class="prevPageDisabled()">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()"
              ng-class="{active: n == currentPage}" ng-click="setPage(n)">
              <a href="#">{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
              <a href ng-click="nextPage()">Next »</a>
            </li>
          </ul>
        </div>
      </td>
                             </tr>
    </tfoot>
                 </table>
                 
       
         

 </div>
</body>
</html>

