﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TestSurveyDesign.aspx.cs" Inherits="TestSurveyDesign" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="Scripts/jquery-1.9.1.js"></script>

    <link href="css/ezmodal.css" rel="stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="js/ezmodal.js"></script>

    <script language="javascript" type="text/javascript">

        $(function () {

            $(".btnPopUP").trigger("click");

        });

    </script>

    <style type="text/css">
        .Initial {
            display: block;
            padding: 4px 18px 4px 18px;
            float: left;
            color: Black;
            font-weight: bold;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            .Initial:hover {
                color: White;
                background: Grey no-repeat right top;
            }

        .Clicked {
            float: left;
            display: block;
            background: green no-repeat right top;
            padding: 4px 18px 4px 18px;
            color: Black;
            font-weight: bold;
            color: White;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">

        <table width="80%" align="center">
            <tr>
                <td>
                    <asp:Button Text="Tab 1" BorderStyle="None" ID="Tab1" CssClass="Initial" runat="server"
                        OnClick="Tab1_Click" />
                    <asp:Button Text="Tab 2" BorderStyle="None" ID="Tab2" CssClass="Initial" runat="server"
                        OnClick="Tab2_Click" />
                    <asp:Button Text="Tab 3" BorderStyle="None" ID="Tab3" CssClass="Initial" runat="server"
                        OnClick="Tab3_Click" />
                    <div style="clear: both;"></div>
                    <table style="width: 100%; border-top: 1px solid black;"></table>
                    <%--  <asp:MultiView ID="MainView" runat="server">
                        <asp:View ID="View1" runat="server">
                            <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                <tr>
                                    <td>
                                        <h3>
                                            <span>View 1 </span>
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </asp:View>
                        <asp:View ID="View2" runat="server">
                            <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                <tr>
                                    <td>
                                        <h3>View 2
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </asp:View>
                        <asp:View ID="View3" runat="server">
                            <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                <tr>
                                    <td>
                                        <h3>View 3
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </asp:View>
                    </asp:MultiView>--%>
                </td>
            </tr>
        </table>

    </form>
    <input type="hidden" id="hdnSessionKey" runat="server" value="" />
</body>

</html>
