﻿<%@ Page Language="VB" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<%@ Import Namespace="Microsoft.ApplicationBlocks.Data" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    Dim i As Integer
    Dim nRegFee, nMealsAmt As Decimal
    
    Dim sb As StringBuilder = New StringBuilder
    ' Dim conn As SqlConnection = New SqlConnection("Data Source=sql.northsouth.org;uid=northsouth;pwd=Nhemi$SHemi;Initial Catalog=northsouth_prd")
    Dim conn As SqlConnection = New SqlConnection("Data Source=Ferdine\SQLEXPRESS;Initial Catalog=BACKUPS;User ID=sa;Password=12345")
    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)
        Dim ds As DataSet = SqlHelper.ExecuteDataset(conn, CommandType.Text, "select T.*,I.AutomemberID,I.FirstName ,I.LastName ,I.Email,I.Address1,I.City,I.State,I.Zip,I.AutoMemberID,I.ChapterID   from TempMissing T Inner Join IndSpouse I On I.AutoMemberID = T.Memberid")
        If ds.Tables(0).Rows.Count > 0 Then
            For i = 0 To ds.Tables(0).Rows.Count - 1
                If SqlHelper.ExecuteScalar(conn, CommandType.Text, "select COUNT(*) FROM nfg_transactions WHERE  asp_session_id = '" & ds.Tables(0).Rows(i)("OrderNumber") & "'") < 1 Then
                    'Select Scope_Identity()
                    nRegFee = SqlHelper.ExecuteScalar(conn, CommandType.Text, "select SUM(fee) from contestant where ParentID =" & ds.Tables(0).Rows(i)("AutoMemberID") & " and PaymentReference = '" & ds.Tables(0).Rows(i)("OrderNumber") & "' and EventId=1 and ContestYear = 2011")
                    nMealsAmt = SqlHelper.ExecuteScalar(conn, CommandType.Text, "select SUM(amount) from MealCharge where AutoMemberID = " & ds.Tables(0).Rows(i)("AutoMemberID") & " and PaymentReference = '" & ds.Tables(0).Rows(i)("OrderNumber") & "' and ContestYear = 2011")
                    sb.Append(" INSERT INTO NFG_TRANSACTIONS([Last Name], ")
                    sb.Append(" [First Name], Address, City, State, Zip, [Email (ok to contact)],")
                    sb.Append(" [Contribution Date], [Source Website], [Contribution Amount], [Payment Date], ")
                    sb.Append(" Status, approval_status, approval_code, asp_session_id, MealsAmount, LateFee,")
                    sb.Append(" Eventid, Event_for,[Designated Project],memberid,chapterid,Fee,TotalPayment,eventYear,PaymentNotes,DonorType")
                    sb.Append(" )  VALUES ( '<LASTNAME>', ")
                    sb.Append(" '<FIRSTNAME>', '<ADDRESS>', '<CITY>', '<STATE>', '<ZIP>', '<PARENTEMAIL>',")
                    sb.Append(" '6/13/2011', 'NSF', <DONATIONAMOUNT>, GETDATE(), ")
                    sb.Append(" '<STATUS>', '<APPROVAL_STATUS>', '<APPROVAL_CODE>', '<PAYMENTREFERENCE>', <MEALSAMOUNT>, <LATEFEE>, ")
                    sb.Append(" <EVENTID>,'<EVENTFOR>','<DONATIONPURPOSE>',<PARENTID>,<CHAPTERID>,<REGFEE>,<TOTALAMOUNT>,'<EVENTYEAR>','<COMMENTS>','IND')")
                    'now replace all the parameters with actual values
                    sb.Replace("<PARENTID>", ds.Tables(0).Rows(i)("AutoMemberID"))
                    sb.Replace("<LASTNAME>", ds.Tables(0).Rows(i)("LASTNAME"))
                    sb.Replace("<FIRSTNAME>", ds.Tables(0).Rows(i)("FIRSTNAME"))
                    sb.Replace("<ADDRESS>", (ds.Tables(0).Rows(i)("ADDRESS1").Replace("'", "''")))
                    sb.Replace("<CITY>", ds.Tables(0).Rows(i)("FIRSTNAME"))
                    sb.Replace("<STATE>", ds.Tables(0).Rows(i)("CITY"))
                    sb.Replace("<ZIP>", IIf(ds.Tables(0).Rows(i)("ZIP") Is DBNull.Value, "", ds.Tables(0).Rows(i)("ZIP")))
                    sb.Replace("<PARENTEMAIL>", ds.Tables(0).Rows(i)("Email"))
                    sb.Replace("<REGFEE>", nRegFee.ToString)
                    sb.Replace("<DONATIONAMOUNT>", "0.0")
                    sb.Replace("<PAYMENTREFERENCE>", ds.Tables(0).Rows(i)("OrderNumber"))
                    sb.Replace("<APPROVAL_CODE>", "")
                    sb.Replace("<APPROVAL_STATUS>", "APPROVED")
                    sb.Replace("<STATUS>", "Complete")
                    sb.Replace("<COMMENTS>", ds.Tables(0).Rows(i)("Comments"))
                    sb.Replace("<DONATIONPURPOSE>", "INScholar")
                    sb.Replace("<MEALSAMOUNT>", nMealsAmt.ToString)
                    sb.Replace("<LATEFEE>", "0.0")
                    sb.Replace("<EVENTID>", "1")
                    sb.Replace("<EVENTFOR>", "Finals")
                    sb.Replace("<EVENTYEAR>", 2011)
                    sb.Replace("<CHAPTERID>", ds.Tables(0).Rows(i)("ChapterID")) 'coming from reg_donate page.
                    sb.Replace("<TAXDEDUCTION>", CType(100, String))
                    sb.Replace("<TOTALAMOUNT>", (nRegFee + nMealsAmt).ToString())
                    'lbltest.Text = test
                End If
            Next
            Try
                SqlHelper.ExecuteNonQuery(conn, CommandType.Text, sb.ToString)
            Catch se As SqlException
                Response.Write(se.ToString() & "<br>" & sb.ToString)
                Exit Sub
            End Try
        End If
    End Sub
    
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   
        <b><%=i%></b>    
       
    </div>
    </form>
</body>
</html>
