<%@ Page Language="VB" AutoEventWireup="false" CodeFile="test3.aspx.vb" Inherits="test3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>www.mymediainfo.com In-Depth Analytic Reports</title>
<meta name='description' content='mymediainfo.com worth $12,493 and ranks # 86,980 in the world. See More In-Depth Reports including: Traffic Trend Graph and Comparison, SEO Data, Server Side Data, Webpage Analytics, Ping Tool, Whois Info and More.' />
<link rel="shortcut icon" href="http://websiteindepth.com/favicon.ico" type="image/x-icon" />
<link href="http://websiteindepth.com/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"> <!--
    document.writeln('<div id="waitDiv" style="position:absolute;left:50%;top:45%;visibility:hidden;">');
    document.writeln('<img src="loading.gif" border="0" alt="Loading..." style="padding:7px;background:#fff;" />');
    document.writeln('<\/div>');
    var DHTML = (document.getElementById || document.all || document.layers);
    function ap_getObj(name) {
        if (document.getElementById) {
            return document.getElementById(name).style;
        } else if (document.all) {
            return document.all[name].style;
        } else if (document.layers) {
            return document.layers[name];
        }
    }
    function ap_showWaitMessage(div, flag) {
        if (!DHTML)
            return;
        var x = ap_getObj(div);
        x.visibility = (flag) ? 'visible' : 'hidden'
        if (!document.getElementById)
            if (document.layers)
            x.left = 280 / 2;
        // return true;
    }
    ap_showWaitMessage('waitDiv', 1);
//--> </script>
<script type="text/javascript">
    function compareimg() {
        var au = ''; var cu = ''; var url_1 = siteurl('url_1'); var url_2 = siteurl('url_2'); var url_3 = siteurl('url_3'); if (url_1 != '') { au += '&u=' + encodeURI(url_1); cu += '+' + encodeURI(url_1); } if (url_2 != '') { au += '&u=' + encodeURI(url_2); cu += '+' + encodeURI(url_2); } if (url_3 != '') { au += '&u=' + encodeURI(url_3); cu += '+' + encodeURI(url_3); }
        document.getElementById('alexaimg').src = "http://traffic.alexa.com/graph?&w=400&h=220&o=f&c=1&y=r&b=ffffff&r=6m&u=mymediainfo.com" + au;
        document.getElementById('competeimg').src = "http://grapher.compete.com/mymediainfo.com" + cu + "_uv_460.png";
    }
    function siteurl(id) { var site = document.getElementById(id); if (site.value != '') { var patt = /^\s*([^\s]+)\s*$/; if (patt.exec(site.value)) { return RegExp.$1 }; } return ''; }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://websiteindepth.com/thumbsup/core/thumbsup.js.php"></script>

<script type='text/javascript' src='http://websiteindepth.com/ajaxpage.js'></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    window.google_analytics_uacct = "UA-3359013-10";
</script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAy_e1u0blYmYjPMIUPlu6-hTVqxaSIiSLHTY7z6glcId3Ybv-ERSh2GgXXM_sLCkGaez2wa4R7h-V-Q"
      type="text/javascript"></script> 
    <script type="text/javascript">
        //<![CDATA[
        function load() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map"));
                map.addControl(new GLargeMapControl3D());
                map.addControl(new GMapTypeControl());
                map.setCenter(new GLatLng(30.2642993927, -97.7138977051), 6);
                var marker = new GMarker(new GLatLng(30.2642993927, -97.7138977051));
                marker.html = "<strong>IP:</strong> 207.150.192.147 <br>" + "<strong>Country:</strong> United States <br>" + " <strong>City:</strong> Austin <br>" + "<strong>Latitude:</strong> 30.2642993927<br>" + "<strong>Longitude:</strong> -97.7138977051";
                GEvent.addListener(marker, "click", function() { marker.openInfoWindowHtml(marker.html); });
                map.addOverlay(marker);
                marker.openInfoWindowHtml(marker.html);
            }
        }
        //]]>
    </script> </head>
<body onload="load()" onunload="GUnload()">
 <%  Dim i = 0
        
        
        For i = 1 To 5
        %> 
        <b><%=i%></b>    
        <%
        Next
        %>


       




<script type='text/javascript'>
    google.load('visualization', '1', { packages: ['columnchart'] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Links');
        data.addColumn('number', 'Yahoo');
        data.addColumn('number', 'Bing');
        data.addColumn('number', 'Alltheweb');
        data.addColumn('number', 'Altavista');
        data.addRows(1);
        data.setValue(0, 0, '');
        data.setValue(0, 1, 226);
        data.setValue(0, 2, 256);
        data.setValue(0, 3, 259);
        data.setValue(0, 4, 259);
        var chart = new google.visualization.ColumnChart(document.getElementById('index-chart'));
        chart.draw(data, { width: 320, height: 180, is3D: true });
    }
    </script>
<script type='text/javascript'>
    google.load('visualization', '1', { packages: ['piechart'] });
    var _pieChart = false;
    function drawVisualization() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Sites');
        data.addColumn('number', 'Links');
        data.addRows([
      ['Yahoo', { v: 69}],
      ['Google/Aol', { v: 5}],
      ['Altavista', { v: 75}],
      ['AllTheWeb', { v: 75}]
    ]);
        _pieChart = new google.visualization.PieChart(document.getElementById('visualization'));
        google.visualization.events.addListener(_pieChart, 'ready', pieReadyHandler);
        _pieChart.draw(data, { is3D: true, height: 170, width: 310, colors: [{ color: '#3366CC', darker: '#23488F' }, { color: '#DC3912', darker: '#AF290A' },
                  { color: '#FF9900', darker: '#AF6B00' }, { color: '#109618', darker: '#0D6F14'}]
        });
        $('#visualization');
    }
    function pieReadyHandler(e) {
        window.setTimeout('_pieChart.setSelection([{row:0, column:null}])', 1500);
        window.setInterval('togglePieSelection()', 3000);
    }
    function togglePieSelection() {
        var nextSliceNumber = (_pieChart.getSelection()[0].row + 1) % 4;
        _pieChart.setSelection([{ row: nextSliceNumber, column: null}]);
    }
    google.setOnLoadCallback(drawVisualization);
</script>
<script type='text/javascript'>
    google.load('visualization', '1', { packages: ['piechart'] });
    var _pieCharts = false;
    function drawVisualization() {
        var datas = new google.visualization.DataTable();
        datas.addColumn('string', 'Sites');
        datas.addColumn('number', 'Links');
        datas.addRows([
      ['Yahoo', { v: 205}],
	  ['Google/Aol', { v: 5}],
      ['Altavista', { v: 194}],
      ['AllTheWeb', { v: 194}]
    ]);
        _pieCharts = new google.visualization.PieChart(document.getElementById('visualizations'));
        google.visualization.events.addListener(_pieCharts, 'ready', pieReadyHandlers);
        _pieCharts.draw(datas, { is3D: true, height: 170, width: 310, colors: [{ color: '#3366CC', darker: '#23488F' }, { color: '#DC3912', darker: '#AF290A' },
                  { color: '#FF9900', darker: '#AF6B00' }, { color: '#109618', darker: '#0D6F14'}]
        });
        $('#visualizations');
    }
    function pieReadyHandlers(e) {
        window.setTimeout('_pieCharts.setSelection([{row:0, column:null}])', 1500);
        window.setInterval('togglePieSelections()', 3000);
    }
    function togglePieSelections() {
        var nextSliceNumbers = (_pieCharts.getSelection()[0].row + 1) % 4;
        _pieCharts.setSelection([{ row: nextSliceNumbers, column: null}]);
    }
    google.setOnLoadCallback(drawVisualization);
</script>
<div class="sectionline">
<div class="section-1">
<p class="htitle">WebPage Indexing Data</p>
<p>Indexed pages report and chart:</p>
<div class="sectioninpage">
<div class="tableline notranslate">
<table width="310" cellpadding="0" cellspacing="10">

        <tr>
          <td><strong>Yahoo:</strong></td>
          <td>226</td>
        </tr>
        <tr>
          <td><strong>Bing:</strong></td>
          <td>256</td>

        </tr>
        <tr>
          <td><strong>Alltheweb:</strong></td>
          <td>259</td>
        </tr>
        <tr>
          <td><strong>Altavista:</strong></td>

          <td>259</td>
        </tr>
        <tr>
          <td><strong>Tatal Indexs:</strong></td>
          <td>1,000</td>
        </tr>
      </table>

</div>
<div class="bchart notranslate"><div id="index-chart"></div></div>

</div>
</div>


<div class="section-6">
<p class="htitle">Backward Link Data</p>
<p>Backlink reports and charts for both <strong>no www</strong> and <strong>with www</strong> domain name:</p>

<div class="sectionin">
<p><b>mymediainfo.com</b></p>
<div class="linktable">
<div class="tableline notranslate">
<table width="210" cellpadding="0" cellspacing="10">
        <tr>
          <td><strong>Yahoo:</strong></td>
          <td>69</td>
        </tr>
        <tr>

          <td width="80"><strong>Google/Aol:</strong></td>
          <td>5</td>
        </tr>
        <tr>
          <td><strong>Altavista:</strong></td>
          <td>75</td>
        </tr>

        <tr>
          <td><strong>AllTheWeb:</strong></td>
          <td>75</td>
        </tr>
        <tr>
          <td><strong>Total:</strong></td>
          <td>224</td>

        </tr>
      </table>
</div>
</div>
<div class="pchart notranslate"><div id="visualization"></div></div>
</div>

<div class="sectionin">
<p><b>www.mymediainfo.com</b></p>
<div class="linktable">
<div class="tableline notranslate">
<table width="210" cellpadding="0" cellspacing="10">
        <tr>

          <td><strong>Yahoo:</strong></td>
          <td>205</td>
        </tr>
        <tr>
          <td width="80"><strong>Google/Aol:</strong></td>
          <td>5</td>
        </tr>

        <tr>
          <td><strong>Altavista:</strong></td>
          <td>194</td>
        </tr>
        <tr>
          <td><strong>AllTheWeb:</strong></td>
          <td>194</td>

        </tr>
        <tr>
          <td><strong>Total:</strong></td>
          <td>598</td>
        </tr>
      </table>
</div>
</div>
<div class="pchart notranslate"><div id="visualizations"></div></div>

</div>
</div>
</div>

<script type="text/javascript"> <!--
    ap_showWaitMessage('waitDiv', 0);
//--> </script>

</body>
</html>

