<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="false" CodeFile="TimeOutError.aspx.vb" Inherits="TimeOutError" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<blink><font color=red>Session has expired. Please try logging in again.</font></blink>
</asp:Content>


 

 
 
 