﻿<%@ Page Language="VB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Under Construction</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <img src="images/under_construction.jpg" width="980px" alt ="" />
    </div>
    </form>
</body>
</html>
