﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NSFMasterPage.master" AutoEventWireup="true" CodeFile="VolunteerSignUpTeam.aspx.cs" Inherits="VolunteerSignUpTeam" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
 

    <asp:LinkButton ID="lbtnVolunteerFunctions" CssClass="btn_02" PostBackUrl="~/VolunteerFunctions.aspx" runat="server">Back to Volunteer Functions</asp:LinkButton>
<br />
     <div align="center" id="Iddonation" style="font-size: 26px; font-weight: bold; font-family: Calibri;
        color: rgb(73, 177, 23);"
        runat="server">
        <strong>Volunteer Sign UP


    </strong>
             <br />
        <br />
    </div>
       <br />


           <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              
               <td align="right" class="btn_02" style="width: 35px">Year: </td>
                    <td align="left" style="width: 20px"><asp:DropDownList ID="ddlEventYear"  AutoPostBack="true" runat="server"   Width="120px"></asp:DropDownList></td><td style="width: 10px"></td>
               <td align="right" class="btn_02" style="width: 25px">Event: </td>
                    <td align="left" style="width: 133px"><asp:DropDownList ID="ddlEvent" runat="server" Height="20px" Width="150px"></asp:DropDownList></td><td style="width: 10px"></td>
            
               <td align="right" class="btn_02" style="width: 25px">ProductGroup: </td>
                    <td align="left" style="width: 133px"><asp:DropDownList ID="ddlProductGroup" DataTextField="Name"  AutoPostBack="true" runat="server" Height="20px" Width="150px"></asp:DropDownList></td><td style="width: 10px"></td>
               <td align="right" class="btn_02" style="width: 25px">Product: </td>
                    <td align="left" style="width: 150px"><asp:DropDownList ID="ddlProduct" DataTextField="Name"  AutoPostBack="true"  runat="server"  Width="150px"></asp:DropDownList></td><td style="width: 10px"></td>
               
            </tr>
            <tr><td><asp:Button ID="Button1" runat="server" Text="Button" 
                    OnClick="Button1_Click" /></td></tr>
               
          
        </table>
</asp:Content>

