<%@ Page Language="VB" MasterPageFile="~/NSFMasterPage.master"   AutoEventWireup="false" CodeFile="WalkathonMarathonFunctions.aspx.vb" Inherits="WalkathonMarathonFunctions" title="Walkathon Marathon Functions" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
    <div class="Heading" align="center">
				<h1>Walk-a-thon/Marathon Functions</h1> 
			</div>
			  			<table id="table1" runat="server"  cellpadding="1" width="100%"  border="2" style="border-right: #ffff99 thin solid; border-top: #ffff99 thin solid; border-left: #ffff99 thin solid; border-bottom: #ffff99 thin solid; background-color: #ffffcc;" >
					<tr >
						<td style="width: 225px;" >Application</td>
						<td style="width: 316px;" >Main Option</td>
						<td  >Reports</td>
						<td style="width: 97px;" >Additional</td>
					</tr>
				       <tr>
				
					<TD style="width: 225px;">Walk-a-thon/Marathon Functions</TD>
					<TD style="width: 225px;">												
						<P><asp:hyperlink id="hlinkViewDonations" runat="server" NavigateUrl="~/Registration.aspx?ParentUpdate=true">Update Profile</asp:hyperlink></P>
						<%--<P><asp:hyperlink id="hlinkAddDonation" runat="server" NavigateUrl="~/donor_donate.aspx">Donate</asp:hyperlink></P>	--%>	
						<p><asp:LinkButton ID="hlinkWalkathonReg" runat="server" Text="Register for Walk-a-thon" ></asp:LinkButton></p>				
						<p><asp:LinkButton ID="hlinkMarathonReg" runat="server" Text="Register for Marathon" ></asp:LinkButton></p>				
						<P><asp:hyperlink id="hlinkPerRef" runat="server" NavigateUrl="PersonalPref.aspx?id=3" Enabled="true">Personal Preferences</asp:hyperlink>&nbsp;</P>
					<br />
					<br />
					</TD>	
					<td style="width: 150px;">
					    <P><asp:hyperlink id="Hyperlink3" runat="server" NavigateUrl="#">View My Page</asp:hyperlink></P>						
					</td>				
					<td style="width: 97px;"></td>
				</TR>
				       <tr>
				
					<TD  align="center" colspan="4"> 
                        <asp:Label ID="lblMessage" Font-Bold="true" ForeColor = "#0000cc" Font-Size="Medium"  runat="server" ></asp:Label></td>
				</TR>
			</TABLE>
</asp:Content>



 
 