<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Test.aspx.vb" Inherits="ChapterCoordinator_Test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Functionality under implementation
    </div>
    <div>
   
        <asp:HyperLink ID="hlinkChapterFunctions" runat="server" NavigateUrl="ChapterFunctions.aspx">Back to Chapter Functions</asp:HyperLink></div>
    </form>
    
</body>
</html>

 

 
 
 