﻿/* DEFAULTS
----------------------------------------------------------*/

body {
    background: #b6b7bc;
    color: #696969;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: .80em;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited { color: #034af3; }

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active { color: #034af3; }

p {
    line-height: 1.6em;
    margin-bottom: 10px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: #666666;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: 200;
    margin-bottom: 0px;
    text-transform: none;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */

.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0px; }


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    background-color: #fff;
    border: 1px solid #496077;
    margin: 20px auto 0px auto;
    width: 960px;
}

.header {
    background: #4b6c9e;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.header h1 {
    border: none;
    color: #f9f9f9;
    font-size: 2em;
    font-weight: 700;
    line-height: 2em;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.main {
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    padding: 0px 12px;
}

.leftCol {
    margin: 12px 8px 8px 8px;
    min-height: 200px;
    padding: 6px 0px;
    width: 200px;
}

.footer {
    color: #4e5766;
    line-height: normal;
    margin: 0px auto;
    padding: 8px 0px 0px 0px;
    text-align: center;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    background-color: #3a4f63;
    width: 100%;
}

div.menu { padding: 4px 0px 4px 8px; }

div.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited {
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover {
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active {
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ccc;
    margin: 1em 0px;
    padding: 1em;
}

fieldset p { margin: 2px 12px 10px 10px; }

fieldset.login label, fieldset.register label, fieldset.changePassword label { display: block; }

fieldset label.inline { display: inline; }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    border: 1px solid #ccc;
    width: 320px;
}

input.passwordEntry {
    border: 1px solid #ccc;
    width: 320px;
}

div.accountInfo { width: 42%; }

/* MISC  
----------------------------------------------------------*/

.clear { clear: both; }

.title {
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay {
    color: White;
    display: block;
    font-size: 1.1em;
    padding: 10px;
    text-align: right;
}

.loginDisplay a:link { color: white; }

.loginDisplay a:visited { color: white; }

.loginDisplay a:hover { color: white; }

.failureNotification {
    color: Red;
    font-size: 1.2em;
}

.bold { font-weight: bold; }

.submitButton {
    padding-right: 10px;
    text-align: right;
}

/************************************/

.modalBackground {
    background-color: gray;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.modalPanel {
    background-color: #FFFFFF;
    border: thin solid #46A71C;
    border-collapse: collapse;
    width: 700px;
}

.modalPanel h2 {
    background-color: #46A71C;
    border: 2px solid #46A71C;
    color: #FFFFFF;
    padding: 5px;
}
/*.buttonClass 
{
	color: White;
	padding:3px;
	width:3em;
    height:1.5em;
    font-weight :bolder;
    background-color: #46A71C;
    border:1px solid gray;
}*/