/* CSS Document */

.glossymenu{
	margin: 5px 0;
	padding: 0;
	width: 200px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

.glossymenu div.header {
	color: #222222;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding-left: 5px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
}

.glossymenu a.menuheader {
	color: #222222;
	display: block;
	position: relative;
	width: auto;
	padding-left: 5px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
}

.glossymenu a.menuheader:visited {
    color: #222222;
}

.glossymenu a.menuheader:hover, .glossymenu a.menuheader:active {
	background-image: url(../images/glossyback2.gif);
	color: #FFFFFF;
}

.glossymenu a.menuitem{
	color: #333333;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding-left: 23px;
	text-decoration: none;
	background-image: url(../images/glossyback.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
}

.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
    color: #333333;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
	background-image: url(../images/glossyback2.gif);
	color: #FFFFFF;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
	background-color: #F4F4F4;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.glossymenu div.submenu ul li a{
	display: block;
	color: #333333;
	text-decoration: none;
	padding: 2px 0;
	padding-left: 23px;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
}

.glossymenu div.submenu ul li a:hover{
	color: white;
	background-color: #88BF01;
}
