.bg {background: url(/public/images/button4.gif);}
.menu {
	padding:0 0 0 0px;
	margin:0;
	list-style:none;
	height:40px;
	position:relative;
	font-family:arial, verdana, sans-serif;
	background-color: #fff;
	background-image: url(/public/images/button1a.gif);
	background-repeat: repeat-x;
}
.menu li.top {display:block; float:left; position:relative;}
.menu li a.top_link {display:block; float:left; height:40px; line-height:33px; color:#FFFFFF; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 6px; cursor:pointer;}
.menu li a.top_link span {
	float:left;
	font-weight:bold;
	display:block;
	height:40px;
	padding-top: 0;
	padding-right: 13px;
	padding-bottom: 0;
	padding-left: 9px;
}
.menu li a.top_link span.down {float:left; display:block; padding:0 9px 0 13px; height:40px; background:url(/public/images/down.gif) no-repeat right top;}
.menu li a.top_link:hover {color:#CCCCCC; background: url(/public/images/button4.gif) no-repeat;}
.menu li a.top_link:hover span {background:url(/public/images/button4.gif) no-repeat right top;}
.menu li a.top_link:hover span.down {background:url(/public/images/button4a.gif) no-repeat right top;}

.menu li:hover > a.top_link {color:#CCCCCC; background: url(/public/images/button4.gif) no-repeat;}
.menu li:hover > a.top_link span {background:url(/public/images/button4.gif) no-repeat right top;}
.menu li:hover > a.top_link span.down {background:url(/public/images/button4a.gif) no-repeat right top;}

.menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

.menu a:hover {visibility:visible;}
.menu li:hover {position:relative; z-index:200;}

.menu ul, 
.menu :hover ul ul, 
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu :hover ul.sub {
	left:2px;
	top:35px;
	right:2px;
	padding:0px 0;
	white-space:nowrap;
	width:150px;
	height:auto;
	background-color: #88BF01;
}
.menu :hover ul.sub li {
	display:block;
	height:20px;
	position:relative;
	float:left;
	width:150px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ABDA32;
}
.menu :hover ul.sub li a {
	font-weight:normal;
	display:block;
	font-size:12px;
	height:20px;
	width:142px;
	line-height:20px;
	text-indent:5px;
	color:#FFFFFF;
	text-decoration:none;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #87BE00;
}
.menu :hover ul.sub li a.fly {background:#fff url(../images/arrow.gif) 80px 7px no-repeat;}
.menu :hover ul.sub li a:hover {
	color:#fff;
	background-color: #333333;
}
.menu :hover ul.sub li a.fly:hover {background:#999999 url(../images/arrow_over.gif) 80px 7px no-repeat; color:#fff;}
.menu :hover ul li:hover > a.fly {background:#999999 url(../images/arrow_over.gif) 80px 7px no-repeat; color:#fff;} 

.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: #fff; padding:3px 0; border:1px solid 999999; white-space:nowrap; width:93px; z-index:200; height:auto;}
