.vest {
	font-family: Verdana;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F3F3F3;
}
.button {
	font-family: Mistral;
	font-size: 22px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:visited {

	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:hover {

	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.button a:active {

	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.txt {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
}
.toprk {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;

}
.webtech {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #660000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.contact a:link {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;	
}
.contact a:visited {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.contact a:hover {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	font-weight: bold;	
}


.contact a:active {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;	
}
.title {
	font-family: Verdana;
	font-size: 13px;
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.text01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.text1 {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3EAA09;
	text-decoration: none;
	line-height: 20px;
}
.sit {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.sit a:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.sit a:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.sit a:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: underline;
}
.sit a:active {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.add {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:visited {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
.add a:active {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	background-color: #99CC33;
}
.cadd {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:link {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:visited {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:hover {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:active {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.title01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.sub_title 
{
	font-family: "Trebuchet MS";
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	color: #46A71C;
	text-decoration: none;
	font-style: normal;
	/*padding-top: 5px;*/
	padding-bottom: 5px;
}
.title02 {
	font-family: "Trebuchet MS";
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	color: #46A71C;
	text-decoration: none;
	font-style: normal;
	/*padding-top: 5px;*/
	padding-bottom: 5px;
}
.Heading{
	font-family: "Trebuchet MS";
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	color: #46A71C;
	text-decoration: none;
	font-style: normal;
	/*padding-top: 5px;*/
	padding-bottom: 5px;
}
.title03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
}
.title04 {
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #46A71C;
	text-decoration: none;
	font-style: normal;
}
.ContentSubTitle
{
    font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #46A71C;
	text-decoration: none;
	font-style: normal;
}
.bottom {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.bottom a:link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.bottom a:visited {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.bottom a:hover {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FFFF00;
	text-decoration: none;
}
.bottom a:active  {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.con {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.link a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.link a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.link a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #CC9933;
	text-decoration: none;
}
.link a:active  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.txt01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.SmallFont
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:normal;
	color: #000000;
	text-decoration: none;
}
.ErrorFont
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
P
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-style:	normal;
	text-decoration: none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;

}
.tableclass {
	border: thin solid #edf5ff;
	margin : 0;
}
.tableclass TD P
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-style:	normal;
	text-decoration: none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	padding:0px;
	margin:0px;
}
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	color:green;
	}	
		
TH	{	
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: none;
    COLOR: Green;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana,arial;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
	}	
TD {
	vertical-align:	top;
	word-spacing:	normal;
	letter-spacing:	normal;
		
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	text-align: left;
	font-weight: 700;
}
	TD.ItemLabel
	{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align:right
	

	}	
TD.ItemLabelCenter
	{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align:center
	

	}	

TD.ItemText
	{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align: left;
	}	

TD.ItemCenter
	{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 7pt; 
	TEXT-TRANSFORM: none; 
	COLOR: Navy; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial; 
	FONT-VARIANT: normal; 
	TEXT-DECORATION: none;
	text-align: center;
	}	
TD.Heading
{
	font-family: "Trebuchet MS";
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	color: #46A71C;
	text-decoration: none;
	font-style: normal;
	/*padding-top: 5px;*/
	padding-bottom: 5px;
}	

TD.SmallFont
{
	font-weight: bolder;
	font-size : 9pt;
	text-transform: none;
	font-style: normal;
	font-family: Arial;
	font-variant: normal;
	text-decoration: none;
	color: Navy;
}

.txt01_strong {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 :link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 a:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 a:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.txt02 a:active  {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.btn_01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 a:link, a.btn_02:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #334499;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 a:visited, a.btn_02:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #334499;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 a:hover, a.btn_02:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #334499;
}
.btn_02 a:active, a.btn_02:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #11396D;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 a:link  {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #11396D;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #11396D;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 a:hover, .btn_03 a:active {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #00009C;
	text-decoration: none;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00009C;
}
.btn_04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
	width: 212px;
}
.btn_04 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
	width: 212px;
}
.btn_04 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
	width: 212px;
}
.btn_04 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 28px;
	background-image: url(../images/btn_hover.png);
	background-repeat: no-repeat;
	height: 28px;
	width: 212px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.btn_04 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
	width: 212px;
}
.btn_05 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:link  {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #339900;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
} 
.ibdr {
	border: 1px solid #CCCCCC;
	font-family: "Times New Roman", Times, serif;
	color: #666666;
	padding-left: 5px;
}
a:hover .ibdr { border: 3px solid #039FC7; }

.partner {
	border: 1px solid #F5F5F5;
}
a:hover .partner { border: 1px solid #BEDA26; }

/**
 * Mail form
 */
#mailform label {
	float: left;
	width: 70px;
}
#mailform input,
#mailform textarea {
	float: left;
	width: 195px;
	margin-bottom: 10px;
}
.button-class{height:auto; background:none; border:none; width:auto; padding:0px; margin:0px;}
#menu1 a {color:black;background-color:white;text-decoration:none;text-indent:1ex;}
#menu1 a:active {color:black;text-decoration:none;}
#menu1 a:hover {color:black;background-color:#FFFF99}
#menu1 a:visited {color:black;text-decoration:none;}

#menu2 a {color:navy;background-color:white;text-decoration:none;text-indent:1ex;}
#menu2 a:active	{color:blue;text-decoration:none;}
#menu2 a:visited {color:blue;text-decoration:none;}
#menu2 a:hover {color:navy;background-color:#f0fea8}

#menu3 a { /*Menu3 Links*/
color:black;
background-color:white;
text-decoration:none;
text-indent:1ex;
}
#menu3 a:hover {
color:black;background-color:#FFFF99;
}
#menu3 a:active	{color:black;text-decoration:none;}
#menu3 a:visited	{color:black;text-decoration:none;}
.box_type_2 {
	width:679px;
	color:#444548;
	background-image: url(../images/mid_page.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}
.box_type_1 {
	width:1000px;
	color:#444548;
	background-image: url(../images/bg_home.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	height: 93px;
}
.box_type_3 {
	width:686px;
	margin-top:15px;
	background-image: url(../images/page_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 15px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 17px;
	color: #333333;
	text-decoration: none;
}
.btn_06 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #75BA36;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
button.search {
	border: 0;
	width: 150px;
	height: 25px;
	margin: 0 0 0 0px;
	background-image: url(../images/submit.jpg);
	background-repeat: no-repeat;
}
button.search:hover {
	background-image: url(../images/submit_01.jpg);
	cursor: pointer;
}
button.search span {
	display: none;
}
.textboxcss {
	color: #404040;
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: normal;
	height: 38px;
	width: 212px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 8px;
	padding-left: 20px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	vertical-align: middle;
}
.textboxcss:link {
	color: #404040;
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: normal;
	height: 38px;
	width: 212px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 8px;
	padding-left: 20px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	vertical-align: middle;
}
.textboxcss:visited {
	color: #404040;
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: normal;
	height: 38px;
	width: 212px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 8px;
	padding-left: 20px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.textboxcss:hover {
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;
	background-image: url(../images/btn_hover.png);
	height: 38px;
	width: 200px;
	background-repeat: no-repeat;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 8px;
	padding-left: 20px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	vertical-align: middle;
}
.textboxcss:active {
	color: #404040;
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: normal;
	height: 38px;
	width: 212px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 8px;
	padding-left: 20px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.Nav_menu {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;	
	text-transform : uppercase;
}
.Nav_menu a:link {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
	text-transform : uppercase;
}
.Nav_menu a:visited {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
	text-transform : uppercase;
}
.Nav_menu a:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFF9B;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
	text-transform : uppercase;
}
.Nav_menu a:active {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
	text-transform : uppercase;}
.right_btn {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;	
}
.right_btn a:link {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.right_btn a:visited {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.right_btn a:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.right_btn a:active {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;}
.tab {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;
	}
.tab a:link {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;
	}
.tab a:visited {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;
	}
.tab a:hover {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;
	}
.tab a:active {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;
}	
.navigation_bg_border_select {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D4D4D4;
	height: 19px;}
.navigation_bg {
	height: 28px;
	background-image: url(../images/sub_menu/bg.jpg);
	background-repeat: no-repeat;
	width: 200px;
}
.top_btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;	
}
.top_btn a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.top_btn a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.top_btn a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.top_btn a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}

.spacedtext li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #333333;
	text-decoration: none;
}
.GridFooter
{
	color: yellow /*"#8C4510";*/
/*	background-color: black /*"#F7DFB5";*/
}
.Even
{
	color: Navy;
	background-color: White;
}
.Odd
{
	color: Navy;
	background-color: Gray;
}
.GridHeader
{
	font-weight:bolder;
	color: maroon;
	font-family: Verdana, 'Times New Roman' , Arial;
	background-color: white ; /*peachpuff;*/
}

.GridHeader a
{
	FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial;
	text-decoration:	none;
	color:	#3333cc;
}

.GridHeader a:visited {
	color:#660099;
	}

.GridHeader a:hover {
	color:#7EA847;
	text-decoration:none
	}

.GridHeader a:active {
	color:#FF9900;
	}


.GridHeader
{
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial;
	text-decoration:	underline;
	color:	#333399;
}
.GridStyle
{
	border-left-color: silver;
	background-image: none;
	border-top-style: solid;
	border-top-color: silver;
	border-bottom: silver solid;
	border-right-style: solid;
	border-left-style: solid;
	background-color: white ; /*moccasin;*/
	border-right-color: silver;
}
.GridItem, .GridAltItem
{
    font-size: smaller;
    text-align:left;
}
.GridItem
{
	color: Maroon;
	font-family: Arial, 'Times New Roman' , Verdana;
	text-align:left;
	/*background-color: lightgoldenrodyellow;*/
}

.GridItem , .GridAltItem
{
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial;
	text-decoration:none;
	color:Maroon;
	text-align:left;
}
	
.GridAltItem
{
	color: Maroon;
	font-family: Arial, 'Times New Roman' , Verdana;
	background-color:  white/*snow;*/
}
.announcement_text {
	color: #007eff;
	font-weight: bold;
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 25px;	
}