
                  </table>
			      </td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#46A71C"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="476" height="25" align="left" class="bottom">
                <a href="/public/aboutus/aboutus.aspx">About Us</a>&nbsp;&nbsp;|&nbsp;
                <a href="/public/main/faq.aspx">FAQ</a>&nbsp;&nbsp;|&nbsp;
                <!-- <a href="/public/main/search.aspx">Search our Site</a>&nbsp;&nbsp;|&nbsp; -->
                <!-- <a href="/public/main/wearelistening.aspx">We&rsquo;re Listening</a>&nbsp;&nbsp;|&nbsp; -->
                <a href="/public/main/contact.aspx">Contact Us</a>&nbsp;&nbsp;|&nbsp;
                <a href="/public/main/privacy.aspx">Privacy Policy</a>
            </td>
          </tr>
        </table></td>
      </tr>
      
    </table></td>
    <td width="10" align="left" valign="top" background="/public/images/right_bg.jpg"><img src="/public/images/right_bg.jpg" width="10" height="5" /></td>
  </tr>
  <tr>
    <td colspan="3"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="25" align="left" class="btn_05">Copyright &copy; 2014 North South Foundation.</td>
        <td height="25" align="right" valign="middle" class="btn_05">Follow Us: 
        <a href="http://twitter.com/NSFBee" target="_blank"><img src="/public/images/icon_twitter_15x15.gif" alt="Twitter" width="15" height="15" border="0" /></a>
        <a href="http://www.facebook.com/NorthSouthFoundation" target="_blank"><img src="/public/images/icon_facebook_15x15.gif" alt="Facebook" width="15" height="15" border="0" /></a>
        <a href="http://www.youtube.com/user/northsouthusa#g/a" target="_blank"><img src="/public/images/icon_youtube_35x15.gif" alt="Youtube" width="35" height="15" border="0" /></a>
        </td>
        <!-- <td align="right" class="btn_05">Designed &amp; Developed by: <a href="http://www.metasenseusa.com/" target="_blank">www.metasenseusa.com</a></td> -->
      </tr>
    </table></td>
  </tr>
</table>

