<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" align="right" valign="top" background="/public/images/left_bg.jpg"><img src="/public/images/left_bg.jpg" width="10" height="5" /></td>
    <td width="951"><table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="82%" valign="top">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="24%" valign="top"><img src="/public/images/img_01.jpg" alt="" width="232" height="144" border="0" usemap="#Map" />
                        <map name="Map" id="Map">
                          <area shape="circle" coords="105,81,61" href="/public/main/home.aspx" />
                        </map></td>
                      <td width="76%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="51%"><img src="/public/images/img_02.jpg" alt="" width="399" height="109" /></td>
                              <td width="49%" valign="top" background="/public/images/img_03.jpg"><table width="89%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="30%">&nbsp;</td>
                                  <td width="70%"><table width="95%" height="31" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td width="44%"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab">
                                            <tr>
                                              <td id="1" align="left" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu1&quot;,'1')" style="color: #ff7777"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/public/images/us_login_btn.jpg',1)"><img src="/public/images/us_login.jpg" alt="US Login" name="Image3" width="77" height="22" border="0" id="Image3" /></a></td>
                                            </tr>
                                        </table>
                                            <div id="Menu1" style="position: absolute; z-index: 1; width: 110px; visibility: hidden;">
                                              <table width="110" cellpadding="0" cellspacing="0" bgcolor="#87BE01" style="border-collapse: collapse;">
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td width="6" align="center" class="right_btn">&nbsp;</td>
                                                  <td width="104" align="left" class="top_btn"><a href="https://www.northsouth.org/app9/login.aspx?entry=p" target="_blank">Parent Login</a>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="https://www.northsouth.org/app9/login.aspx?entry=v" target="_blank">Volunteer Login</a></td>
                                                </tr>
                                                  <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="https://www.northsouth.org/app9/login.aspx?entry=s" target="_blank"> Student Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="https://www.northsouth.org/app9/login.aspx?entry=d" target="_blank"> Donor Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="https://www.northsouth.org/app9/login.aspx?entry=g" target="_blank"> Game Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="110" height="1" /></td>
                                                </tr>
                                              </table>
                                            </div></td>
                                        <td width="56%"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab">
                                            <tr>
                                              <td id="2" align="left" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu2&quot;,'2')" style="color: #ff7777"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/public/images/india_login_btn.jpg',1)"><img src="/public/images/india_login.jpg" alt="India Login" name="Image4" width="91" height="22" border="0" id="Image4" /></a></td>
                                            </tr>
                                        </table>
                                            <div id="Menu2" style="position: absolute; z-index: 1; width: 105px; visibility: hidden;">
                                              <table width="105" cellpadding="0" cellspacing="0" bgcolor="#87BE01" style="border-collapse: collapse;">
                                              <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td width="5" align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="https://www.northsouth.org/2indiabee/Maintest.aspx" target="_blank">India Contests</a></td>
                                                </tr>
                                                  <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="105" height="1" /></td>
                                                </tr>
                                                <tr height="25" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')">
                                                  <td align="center" class="right_btn">&nbsp;</td>
                                                  <td align="left" class="top_btn"><a href="http://www.northsouth.org/app6/MainTest.aspx" target="_blank">India Scholarship</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="/public/images/line.jpg" width="105" height="1" /></td>
                                                </tr>
                                           
                                          
                                              </table>
                                            </div></td>
                                      </tr>
                                  </table></td>
                                </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="35"><div>
<ul class="menu">
    <li class="top"><a href="/public/main/home.aspx" class="top_link"><span>HOME </span></a></li>
	<li class="top"><a href="#" class="top_link"><span>US ACTIVITIES</span></a>
		<ul class="sub">
			<li><a href="/public/uscontests/uschapters/uschapters.aspx">US Chapters</a></li>
			<li class="hassub"><a href="/public/uscontests/uscontests.aspx">Contests</a>
				<ul>
					<li><a href="/public/uscontests/regionals/regionals.aspx">Regional Contests</a></li>
					<li><a href="/public/uscontests/finals/nationalfinals.aspx">National Finals</a></li>
				</ul>
			</li>
            <li><a href="/public/uscontests/workshops/workshop.aspx">Workshops</a></li>
			<li class="hassub"><a href="#">Coaching</a>
				<ul>
					<li><a href="/public/uscontests/coaching/MathCounts.aspx">Math Counts</a></li>
					<li><a href="/public/uscontests/coaching/SATcoaching.aspx">SAT</a></li>
					<li><a href="/public/uscontests/coaching/Geography.aspx">Geography</a></li>
			<li><a href="/public/uscontests/workshops/uv/UniversalValues.aspx">Universal Values</a></li>
				</ul>
			</li>
			<li class="hassub"><a href="#">Fundraising</a>
				<ul>
					<li><a href="/public/main/excelathon.aspx">Excelathon</a></li>
					<li><a href="/public/kidscorner/dollarasquare.aspx">Dollar-A-Square</a></li>
				</ul>
			</li>
			<li><a href="/public/uscontests/newparents.aspx">New Parents</a></li>
			<li><a href="/public/uscontests/mentorship.aspx">Mentorship</a></li>
			<!--<li><a href="/public/uscontests/usscholarships.aspx">US Scholarships</a></li>-->
		</ul>
	</li>
	<li class="top"><a href="#" class="top_link"><span>INDIA SCHOLARSHIPS</span></a>
		<ul class="sub">
			<li><a href="/public/india/scholarships.aspx">General Information</a></li>			
            <li><a href="/public/india/chapters.aspx">India Chapters</a></li>
            <li><a href="/public/india/AskNeil.aspx">Resources for Students</a></li>
		</ul>
	</li>
	<li class="top"><a href="#" class="top_link"><span>INDIA ACTIVITIES</span></a>
		<ul class="sub">
			<li><a href="/public/IndiaContests/Indiachapters/Indiachapters.aspx">India Contest Centers</a></li>			
            <li><a href="/public/IndiaContests/regionals/regionals.aspx">Contests</a></li>
		</ul>
	</li>
	<li class="top"><a href="#" class="top_link"><span>YOUTH CORNER</span></a>
	<ul class="sub">
            <li><a href="/public/others/youthprograms.aspx">Youth Programs</a></li>
			<li><a href="/public/kidscorner/dollarasquare.aspx">Dollar a square</a></li>			
            <li><a href="https://www.northsouth.org/app9/Login.aspx?entry=G" target="_blank">Online Bee Games</a></li>
			<li><a href="/public/kidscorner/mathcolumn.aspx">Math Column</a></li>
			<li><a href="/public/main/excelathon.aspx">Excelathon</a></li>
		</ul>
	</li>
	<li class="top"><a href="/public/APNA/apna.aspx" class="top_link"><span>APNA</span></a></li>
	<li class="top"><a href="/public/main/NewsletterArchive.aspx" class="top_link"><span>NEWSLETTER</span></a></li>
	<li class="top"><a href="/public/others/volunteers.aspx" class="top_link"><span>VOLUNTEERS</span></a></li>
</ul>
</div></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                  </tr>

                    
