<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="left">
    <img src="/public/images/donate_banner.jpg" width="212" height="85" border="0" usemap="#Map2Map" />
    <map name="Map2Map" id="Map2Map">
        <area shape="rect" coords="116,52,204,76" href="/public/main/donate.aspx" alt="Donate Now" />
    </map>
</td>
</tr>
<!--
<tr>
<td align="left">
    <table border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td height="16" align="center" valign="middle" class="btn_05">&nbsp;&nbsp;Follow Us: </td>
        <td height="16" align="center" valign="middle" class="btn_05"><a href="http://twitter.com/" target="_blank"><img src="/public/images/icon_twitter_15x15.gif" alt="Twitter" width="15" height="15" border="0" /></a>&nbsp;</td>
        <td height="16" align="center" valign="middle" class="btn_05"><a href="http://www.facebook.com/" target="_blank"><img src="../images/icon_facebook_15x15.gif" alt="Facebook" width="15" height="15" border="0" /></a>&nbsp;</td>
        <td height="16" align="center" valign="middle" class="btn_05"><a href="http://www.youtube.com/" target="_blank"><img src="../images/icon_youtube_35x15.gif" alt="Youtube" width="35" height="15" border="0" /></a>&nbsp;</td>
    </tr>
    
    <tr>
        <td width="64%"><table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
            <td width="32%" align="center"><a href="http://twitter.com/" target="_blank"><img src="../images/twitter.png" alt="Twitter" width="32" height="32" border="0" /></a></td>
            <td width="32%" align="center"><a href="http://www.facebook.com/" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="32" height="32" border="0" /></a></td>
            <td width="32%" align="center"><a href="http://www.youtube.com/" target="_blank"><img src="../images/youtube.png" alt="Youtube" width="32" height="32" border="0" /></a></td>
            </tr>
        </table></td>
    </tr>
    
    <tr>
        <td>&nbsp;</td>
    </tr>
    </table>
</td>
</tr>
-->
<tr>
<td>&nbsp;</td>
</tr>
</table>
