<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/other.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>North South Foundation : Search</title>

<!--#include file="incfiles.aspx"-->
</head>
<body>
<!--#include file="header.aspx"-->

<tr>
                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="24%" valign="top"><table width="93%" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="center">
                            <!--#include file="/public/main/qlinkinc.aspx"-->
                            </td>
                          </tr>
                          <tr>
                            <td align="center" height="300">&nbsp;</td>
                          </tr>
                      </table></td>
                      <td width="76%" valign="top">
                      <table width="98%" border="0" align="left" cellpadding="0" cellspacing="6"><tr><td>

<div class="title02">Search northsouth.org through Google</div>

<div class="txt01">
<form method="get" action="http://www.google.com/custom"><table bgcolor="#FFFFFF" cellspacing="0" border="0"><tr valign=top>
<td><input type="text" name="q" size="21" maxlength="255" value=""><input type="submit" name="sa" value="Google Search"><input type="hidden" name="cof" value="AH:center;S:http://www.northsouth.org;AWFID:bb69e8c64b9a2412;"><!-- <input type="radio" name="sitesearch" value="northsouth.org" checked> Search northsouth.org --><br></td></tr></table></form></div>

</td></tr></table>
</td>
</tr>

<!--#include file="footer.aspx"-->

</body>
