<%@ Page language="vb" runat="server" %>
<%@ Import Namespace="System.Data.SqlClient" %>


<html>

<head>
<%--<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="GENERATOR" content="Microsoft FrontPage 12.0">
<meta name="ProgId" content="FrontPage.Editor.Document">--%>
<title>Unsubscribe</title>


<SCRIPT LANGUAGE="JavaScript">
<!-- Original: wsabstract.com -->

<!-- This script and many more are available free online at -->
<!-- The JavaScript Source!! http://javascript.internet.com -->

<!-- Begin

function checkrequired(which) {
var pass=true;
if(document.newsletter.email.value=="" || document.newsletter.email.value == "your e-mail address")
{
alert("Please enter e-mail address");
return false;
}
else
return true;

}
function run() {
     document.getElementById("smname").value = document.getElementById("mychoice").value;     
 }
//  End -->
</script>
</head>
<h1> North South Foundation </h1>
<body>
<form name=newsletter onSubmit="return checkrequired(this)" action=unsubscribe.aspx?action=confirm method=post>

<% if request.querystring("action")="confirm" then %>
<%
    Dim cn As SqlConnection = New SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings("ConnectionString").ConnectionString)
    Dim cn1 As SqlConnection = New SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings("ConnectionString").ConnectionString)

    Dim cmd As SqlCommand
    Dim cmd1 As SqlCommand
    Dim rs As SqlDataReader
    Dim rs1 As SqlDataReader
    Dim strquery As String
    Dim strquery1 As String
    cn.Open()
    strquery = "delete from newsletter_subscribers where email_address = '" & Request.Form("email") & "'"	
    'response.write(strquery)
    'cmd = New SqlCommand(strquery, cn)
    'rs = cmd.ExecuteReader()
    cn1.Open()
   
    Dim Str As String
 
    strquery1 = "Update IndSpouse Set Newsletter = '" & Request.QueryString("choice") & "'  where Email = '" & Request.Form("email") & "'"
    Response.Write(strquery1)
    'cmd1 = New SqlCommand(strquery1, cn1)
    'rs1 = cmd1.ExecuteReader()
    'cn1.Close()
    cn.Close()%>
You have been removed from mailing list. <a href=home.asp> Click here to go back to Homepage </a>
<% else %>
<%if request.querystring("email") = "" AND  request.form("email") = "" then%>
<h3> Unsubscribe from our mailing list </h3>
<input name=email value="your e-mail address" maxlength=50>
<%else%>
<table width="410">
<tr> <td width="109"> <b> E-mail : </b> <td width="287"> <input name=email value='<%=request.querystring("email")%>' width=50 maxlength=50 size="37"> 
<%
    Dim cn As SqlConnection = New SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings("ConnectionString").ConnectionString)

    Dim cmd As SqlCommand
    Dim rs As SqlDataReader
    Dim strquery As String
    cn.Open()
strquery = "select * from Newsletter_subscribers where email_address = '" & request.querystring("email") & "'"
      cmd = New SqlCommand(strquery, cn)
    rs = cmd.ExecuteReader()
    cn.Close()
%>
<% end if %>
<br /><br />
<select name="mychoice">
<option value="1">1.No email of monthly e-newsletter</option>
<option value="2">2.No email on contests, workshops, coaching, etc.</option>
<option value="3">3.No email of e-newsletter or on contests, wrokshops, etc.</option>
</select>

<br /><br />
<input type="hidden" name="smname" id="smname" value='<%=request.querystring("choice")%>'/>
<tr> <td width="109"> <input name=submit value="Unsubscribe" type=Submit onclick="run()"> <br/>
</td></tr>
</table>
 Click: Unsubscribe button to complete
 </form>
 <% end if %>
</body>
</html>





 


 
 