<%@ Page Language="VB" MasterPageFile="~/NSFInnerMasterPage.master" AutoEventWireup="false" CodeFile="SpellingGameCategorizeWords.aspx.vb" Inherits="Spelling_Game_SpellingGameCategorizeWords" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
<div style="text-align:left">
<asp:LinkButton ID="lbtnVolunteerFunctions" CssClass="btn_02" PostBackUrl="~/VolunteerFunctions.aspx" runat="server">Back to Volunteer Functions</asp:LinkButton>
</div>
<div runat ="server" id="div1"  style ="width:800px; text-align : center; height:300px">
<table border="0px" width="100%" cellpadding = "5px" cellspacing = "0px" class ="SmallFont">
<tr><td align = "center" colspan="2" >Select Event : 
    <asp:DropDownList ID="ddlEvent" runat="server">
        <asp:ListItem>Regional</asp:ListItem>
        <asp:ListItem >National</asp:ListItem>
    </asp:DropDownList> <br/><br/>
    <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click" /><br/>
    <asp:Label ID="lblVErr" runat="server" ></asp:Label>
    </td> </tr> </table></div>

</asp:Content>

