<%@ Page Language="C#" MasterPageFile="~/NSFInnerMasterPage.master" AutoEventWireup="true"
    CodeFile="SpellingGame.aspx.cs" Inherits="Spelling_Demo_Demo_SpellingGame"
    Title="Spelling Bee Preparation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" runat="Server">
    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="100%">
        <tr>
            <td>
                <a href="../MainTest.aspx" id="hrefQuitGame">Quit Game</a>
                <p>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="lbl1" runat="server" Text = "1. DO NOT " Font-Bold="True" ></asp:Label> use your browser's BACK and FORWARD buttons to navigate. You may
                get inaccurate results.
                <br />
                <asp:Label ID="lbl2a" runat="server" Font-Bold="true" Text="2. "></asp:Label> Your results for this session will not be saved if you attempt <asp:Label ID="lbl2b" runat="server" Text = " less than 10 words." Font-Bold="True" ></asp:Label> <br />
                <asp:Label ID="lbl3a" runat="server" Font-Bold="true" Text="3. "></asp:Label> To <asp:Label ID="lbl3b" runat="server" Font-Bold="true" Text=" End a Game "></asp:Label> click <asp:Label ID="lbl3c" runat="server" Font-Bold="true" Text=" End Session "></asp:Label> button, otherwise your results
                for this session will not be saved. This button will appear once you spell a word.
                <br />
                <p>
                </p>
            </td>
        </tr>
        
    </table>
    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="100%">
        <tr>
            <td width="10%" align="center" valign="middle">
                <img src="images/bee_icon.gif" />
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="100%">
                    <tr>
                        <td>
                           <asp:Label ID="lblhead" Text="Please select a category to start your Spelling Bee preparation." runat="server" Font-Bold="true"></asp:Label>
                      </td>
                    </tr>
                      <tr><td> <asp:Label ID="lblerr" runat="server" ForeColor="red"></asp:Label></td></tr>
                        
                    <tr>
                        <td>
                            <asp:RadioButtonList ID="radioBtnLstCategory" runat="server" Height="205px" Width="192px"
                                Font-Bold="True">
                                <asp:ListItem Value="11" Selected="True">Beginner / Easy</asp:ListItem>
                                <asp:ListItem Value="12">Beginner / Difficult</asp:ListItem>
                                <asp:ListItem Value="21">Intermediate / Easy</asp:ListItem>
                                <asp:ListItem Value="22">Intermediate / Difficult</asp:ListItem>
                                <asp:ListItem Value="31" Enabled="false">Advanced / Easy</asp:ListItem>
                                <asp:ListItem Value="32" Enabled="false" >Advanced / Difficult</asp:ListItem>
                            </asp:RadioButtonList>
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Button ID="btnStartSpellingBee" runat="server" Text="Start Spelling Bee" OnClick="btnStartSpellingBee_Click" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Click here for <font family=arial size=2><a onclick="javascript:window.open('GamePerformanceGraph.aspx', 'fullscreen','height=500,width=400,left=0,top=0,toolbar=no,menubar=no,scrollbars=yes');" href="#"> Cumulative Graphical View </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>
