<%@ Control Language="vb" AutoEventWireup="false" Inherits="VRegistration.footer" CodeFile="footer.ascx.vb" %>
<TABLE id="Table1" width="760">
	<TBODY>
		<B><FONT face="Arial" size="2">
				<TR>
					<TD>
						<hr color="#ffcc66" width="100%">
						<FONT face="Arial, Helvetica, sans-serif" size="2">
							<BR>
							<B>NSF Home Office:</B>North South Foundation, 2 Marissa Ct, Burr Ridge, IL 
							60527<BR>
							Phone: 630-323-1966&nbsp; Fax: 630-455-9008 &nbsp;Email:</FONT> <FONT color="#0000ff">
						</FONT>
			</FONT><FONT face="Arial, Helvetica, sans-serif" size="3"><A href="mailto:info@northsouth.org">
					<FONT size="2">info@northsouth.org</FONT></A></FONT>
			<P></P>
			<A href="http://www.northsouth.org/privacy.asp"><FONT face="Arial, Helvetica, sans-serif" size="1">
				Privacy Policy </A>| <A href="http://www.northsouth.org/coord.asp"><FONT face="Arial, Helvetica, sans-serif" size="1">
				Contact Information </A>
			<P><FONT face="Verdana, Arial, Helvetica" size="1">Comments/Suggestions/Problems: 
					Contact <A href="mailto:admin@northsouth.org">Admin </A>
			</P>
			</FONT></FONT></FONT></TD></TR></FONT></B></TBODY>
</TABLE>
