﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/NSFInnerMasterPage.master" CodeFile="1XlReport1_PrepClub.aspx.cs" Inherits="Reports_xlReportRegPrepByChild" %>

 <asp:Content ID="Content2" ContentPlaceHolderID="Content_main" Runat="Server">
       <asp:hyperlink id="hlinkParentRegistration" runat="server" NavigateUrl="~/VolunteerFunctions.aspx">Back to Volunteer Functions</asp:hyperlink>
     <br />
			 
     <table id="exp" runat="server"></table>

      <table>
          <tr> 
              <td style="width:200px;">&nbsp;

          </td>
              <td>

			<asp:Button id="btnSave"  runat="server"
				Text="Save File" onclick="btnSave_Click" Visible="false"></asp:Button>&nbsp; &nbsp;<asp:Button id="btnBack"  runat="server"
				Text="Back" OnClick="btnBack_Click" ></asp:Button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <asp:Label id="lblChapter" style="font-weight:bold;"	runat="server" Width="144px"></asp:Label>
              </td>
              <td></td>
          </tr>
      <tr>

          <td style="width:200px;">&nbsp;

          </td>
          <td>
                          
			<span runat="server" id="spErrMsg"></span>
                 
                <table>
                       <tr>
                           <td align="right">
                               <asp:gridview id="GridVenueDetails" runat="server" visible="false" autogeneratecolumns="false">
                <Columns>
           <asp:BoundField DataField="Ser#" HeaderText="Ser#" />

             <asp:BoundField DataField="Organization_Name" HeaderText="Organization_Name" />
                </Columns>
            </asp:gridview>

                           </td>
                           <td width="20"> </td>
                           <td style="vertical-align:top;text-align:left; margin-left:30px;">
                    </td>
                       </tr>
                       <tr>
                           <td>
                               
                      <asp:GridView ID="GridViewforReport" runat="server"    Visible="false"  onrowdatabound="Gridview_RowDataBound" 
                EnableViewState="true"  
                >
           
            </asp:GridView> </td
            <td width="20"> </td>
            <td style="vertical-align:top;text-align:left; margin-left:30px;">
                    </td> </tr></table>


		 </td>
          <td></td>
      </tr>
  </table>
      
	</asp:Content>	
