<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TotalMedalCount.aspx.cs" Inherits="Reports_TotalMedalCount" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <h2 align="center">Total Medal Count</h2>
		<form id="Form1" method="post" runat="server">
			<asp:label id="lblError" style="Z-INDEX: 101; LEFT: 40px; POSITION: absolute; TOP: 48px" runat="server"></asp:label>
			<asp:label id="lblChapter" style="Z-INDEX: 103; LEFT: 40px; POSITION: absolute; TOP: 72px"
				runat="server"></asp:label>
			<asp:datagrid id="DataGrid1" style="Z-INDEX: 102; LEFT: 88px; POSITION: absolute; TOP: 120px"
				runat="server" BorderColor="#999999" BorderStyle="None" BorderWidth="1px" BackColor="White"
				CellPadding="3" GridLines="Vertical">
				<FooterStyle ForeColor="Black" BackColor="#CCCCCC"></FooterStyle>
				<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#008A8C"></SelectedItemStyle>
				<AlternatingItemStyle BackColor="#DCDCDC"></AlternatingItemStyle>
				<ItemStyle ForeColor="Black" BackColor="#EEEEEE"></ItemStyle>
				<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#000084"></HeaderStyle>
				<PagerStyle HorizontalAlign="Center" ForeColor="Black" BackColor="#999999" Mode="NumericPages"></PagerStyle>
			</asp:datagrid></form>
</body>
</html>

 

 
 
 