<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UnreportedChapters.aspx.cs" Inherits="Reports_UnreportedChapters" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
<h2>Chpaters that have not uploaded their scores</h2>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblMessage" runat="server"></asp:Label>
        <asp:GridView ID="gvList" runat="server">
        </asp:GridView>
    
    </div>
    </form>
</body>
</html>


 
 
 