﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="xlReportRegPrepByChild.aspx.cs" Inherits="Reports_xlReportRegPrepByChild" %>

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>

   <form id="Form1" method="post" runat="server">

			 
                 
			<asp:Label id="lblChapter" style="Z-INDEX: 103; LEFT: 489px; POSITION: absolute; TOP: 14px"
				runat="server" Width="144px"></asp:Label>
			<asp:Button id="btnSave"  runat="server"
				Text="Save File" onclick="btnSave_Click" Visible="false"></asp:Button>&nbsp; &nbsp;<asp:Button id="btnBack"  runat="server"
				Text="Back" OnClick="btnBack_Click" ></asp:Button>
                   <table><tr><td>
                      <asp:GridView ID="GridViewforReport" runat="server"    Visible="false"  onrowdatabound="Gridview_RowDataBound" 
                EnableViewState="true"  
                >
           
            </asp:GridView> </td>
            <td width="20"> </td>
            <td style="vertical-align:top;text-align:left; margin-left:30px;">
                    <asp:GridView ID="GridVenueDetails" runat="server" Visible="false" AutoGenerateColumns="false" 
                
                >
                <Columns>
           <asp:BoundField DataField="Ser#" HeaderText="Ser#" />

             <asp:BoundField DataField="Organization_Name" HeaderText="Organization_Name" />
                </Columns>
            </asp:GridView></td> </tr></table>
		</form>
</body>
</html>
