﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="xlReportRegPrepByChild3333333333.aspx.cs" Inherits="Reports_xlReportRegPrepByChild" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
                          <asp:GridView ID="Gridcontestdetail" runat="server" align="center"    
                EnableViewState="true"  OnRowDataBound="Gridnewcontest1_RowDataBound"
                >
           
            </asp:GridView>
    </div>
    </form>
</body>
</html>
