<%@ Page Language="VB" MasterPageFile="~/NSFInnerMasterPage.master" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content_main" Runat="Server">
 
     <div style="text-align: center">  
    
		<table width="100%">
					<tr>
						<td class="Heading" noWrap align="center" colSpan="2">National&nbsp;Invitees List
						</td>
				</tr>
			</table>
			</div>
</asp:Content>



 
 
 