
<%@ Page Language="C#"  MasterPageFile="~/site.master" AutoEventWireup="true"  CodeFile="VolunteerShow.aspx.cs" Inherits="VolunteerShow" Title="Volunteer Show" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    Volunteer - Add/Edit<asp:Label ID="Label1" runat="server"></asp:Label>
    <asp:GridView ID="gvIndSpouse" runat="server" AllowPaging="True" AllowSorting="True"
        AutoGenerateColumns="False">
    </asp:GridView>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    &nbsp;
		
		<br />

		

</asp:Content>


 

 
 
 