﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="NSF.TestPrep.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="http://northsouth.org/public/css/style.css" rel="stylesheet" type="text/css" />
    <link href="http://northsouth.org/public/css/menu_style.css" rel="stylesheet" type="text/css" />
    <link href="http://northsouth.org/public/css/glossymenu.css" rel="stylesheet" type="text/css">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <ajaxToolkit:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server" />
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td valign="top" width="24%">
                    <img src="http://northsouth.org/public/images/img_01.jpg" alt="" usemap="#Map" border="0" height="144"
                        width="232">
                    <map name="Map" id="Map">
                        <area shape="circle" coords="105,81,61" href="http://northsouth.org/public/main/home.aspx">
                    </map>
                </td>
                <td valign="top" width="76%">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="51%">
                                                    <img src="http://northsouth.org/public/images/img_02.jpg" alt="" height="109" width="399">
                                                </td>
                                                <td background="/public/images/img_03.jpg" valign="top" width="49%">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="89%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="30%">
                                                                    &nbsp;
                                                                </td>
                                                                <td width="70%">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" height="31" width="95%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="44%">
                                                                                    <table class="tab" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td id="1" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu1&quot;,'1')"
                                                                                                    style="color: #ff7777" align="left">
                                                                                                    <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/public/images/us_login_btn.jpg',1)">
                                                                                                        <img src="http://www.northsouth.org/public/images/us_login.jpg" alt="US Login" name="Image3"
                                                                                                            id="Image3" border="0" height="22" width="77"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <div id="Menu1" style="position: absolute; z-index: 1; width: 110px; visibility: hidden;">
                                                                                        <table style="border-collapse: collapse;" bgcolor="#87BE01" cellpadding="0" cellspacing="0"
                                                                                            width="110">
                                                                                            <tbody>
                                                                                                <tr style="background-color: rgb(135, 190, 1);" onmouseout="menuOut(this,'#87BE01')"
                                                                                                    onmouseover="menuOver(this,'#383735')" height="25">
                                                                                                    <td class="right_btn" align="center" width="6">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="top_btn" align="left" width="104">
                                                                                                        <a href="https://www.northsouth.org/app9/login.aspx?entry=p" target="_blank">Parent
                                                                                                            Login</a>&nbsp;
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <img src="http://northsouth.org/public/images/line.jpg" height="1" width="110">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr style="background-color: rgb(135, 190, 1);" onmouseout="menuOut(this,'#87BE01')"
                                                                                                    onmouseover="menuOver(this,'#383735')" height="25">
                                                                                                    <td class="right_btn" align="center">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="top_btn" align="left">
                                                                                                        <a href="https://www.northsouth.org/app9/login.aspx?entry=v" target="_blank">Volunteer
                                                                                                            Login</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <img src="http://northsouth.org/public/images/line.jpg" height="1" width="110">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                                                                    <td class="right_btn" align="center">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="top_btn" align="left">
                                                                                                        <a href="https://www.northsouth.org/app9/login.aspx?entry=d" target="_blank">Donor Login</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <img src="http://northsouth.org/public/images/line.jpg" height="1" width="110">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                                <td width="56%">
                                                                                    <table class="tab" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td id="2" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu2&quot;,'2')"
                                                                                                    style="color: #ff7777" align="left">
                                                                                                    <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/public/images/india_login_btn.jpg',1)">
                                                                                                        <img src="http://www.northsouth.org/public/images/india_login.jpg" alt="India Login"
                                                                                                            name="Image4" id="Image4" border="0" height="22" width="91"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <div id="Menu2" style="position: absolute; z-index: 1; width: 105px; visibility: hidden;">
                                                                                        <table style="border-collapse: collapse;" bgcolor="#87BE01" cellpadding="0" cellspacing="0"
                                                                                            width="105">
                                                                                            <tbody>
                                                                                                <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                                                                    <td class="right_btn" align="center" width="5">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="top_btn" align="left">
                                                                                                        <a href="http://www.northsouth.org/app6/Login.aspx" target="_blank">Applicant Login</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <img src="http://northsouth.org/public/images/line.jpg" height="1" width="105">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                                                                    <td class="right_btn" align="center">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="top_btn" align="left">
                                                                                                        <a href="http://www.northsouth.org/app6/VolunteerLogin.aspx" target="_blank">Volunteer
                                                                                                            Login</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <img src="http://northsouth.org/public/images/line.jpg" height="1" width="105">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                                                                    <td class="right_btn" align="center">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="top_btn" align="left">
                                                                                                        <a href="http://www.northsouth.org/app6/AlumniLogin.aspx" target="_blank">Alumni Login</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <img src="http://northsouth.org/public/images/line.jpg" height="1" width="105">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="35">
                                    <div>
                                        <ul class="menu">
                                            <li class="top"><a href="http://northsouth.org/public/main/home.aspx" class="top_link"><span>HOME </span>
                                            </a></li>
                                            <li class="top"><a href="#" class="top_link"><span>US CONTESTS</span></a>
                                                <ul class="sub">
                                                    <li><a href="http://northsouth.org/public/uscontests/uscontests.aspx">General Information</a></li>
                                                    <li><a href="http://northsouth.org/public/uscontests/uschapters/uschapters.aspx">US Chapters</a></li>
                                                    <li><a href="http://northsouth.org/public/uscontests/regionals/regionals.aspx">Regional Contests</a></li>
                                                    <li><a href="http://northsouth.org/public/uscontests/finals/nationalfinals.aspx">National Finals</a></li>
                                                    <li><a href="http://northsouth.org/public/uscontests/workshops/workshop.aspx">Workshops</a></li>
                                                    <li><a href="http://northsouth.org/public/uscontests/coaching/coaching.aspx">Coaching</a></li>
                                                    <li><a href="http://northsouth.org/public/main/excelathon.aspx">Excelathon</a></li>
                                                    <li><a href="http://northsouth.org/public/uscontests/newparents.aspx">New Parents</a></li>
                                                    <!--<li><a href="http://northsouth.org/public/uscontests/usscholarships.aspx">US Scholarships</a></li>-->
                                                </ul>
                                            </li>
                                            <li class="top"><a href="#" class="top_link"><span>INDIA SCHOLARSHIPS</span></a>
                                                <ul class="sub">
                                                    <li><a href="http://northsouth.org/public/india/scholarships.aspx">General Information</a></li>
                                                    <li><a href="http://northsouth.org/public/india/chapters.aspx">India Chapters</a></li>
                                                </ul>
                                            </li>
                                            <li class="top"><a href="#" class="top_link"><span>KIDS CORNER</span></a>
                                                <ul class="sub">
                                                    <li><a href="http://northsouth.org/public/kidscorner/dollarasquare.aspx">Dollar a square</a></li>
                                                    <li><a href="https://www.northsouth.org/app9/Login.aspx?entry=G" target="_blank">Online
                                                        Bee Games</a></li>
                                                    <li><a href="http://northsouth.org/public/kidscorner/mathcolumn.aspx">Math Column</a></li>
                                                    <li><a href="http://northsouth.org/public/main/excelathon.aspx">Excelathon</a></li>
                                                </ul>
                                            </li>
                                            <li class="top"><a href="http://northsouth.org/public/others/youthprograms.aspx" class="top_link"><span>YOUTH
                                                PROGRAMS</span></a></li>
                                            <li class="top"><a href="http://northsouth.org/public/others/partners.aspx" class="top_link"><span>PARTNERS</span></a></li>
                                            <li class="top"><a href="http://northsouth.org/public/others/volunteers.aspx" class="top_link"><span>VOLUNTEERS</span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    NSF - Test Preparation [SAT/ACT]
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" id="HeadLoginStatus" runat="server">Log In</a>
                        ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold">
                            <asp:LoginName ID="HeadLoginName" runat="server" />
                        </span>! [
                        <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out"
                            LogoutPageUrl="~/" />
                        ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false"
                    IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home" />
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Coach"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Student">
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Take ACT" />
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Take SAT" />
                        </asp:MenuItem>
                        <asp:MenuItem Text="Admin">
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Question Types" />
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Test Area" />
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Test Section" />
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Test" />
                            <asp:MenuItem NavigateUrl="~/Admin/QuestionTypes.aspx" Text="Student" />
                        </asp:MenuItem>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
    </div>
    </form>
</body>

<body onload="MM_preloadImages('/public/images/more.jpg','/public/images/donate_tab.png')">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="970">
  <tbody><tr>
    <td align="right" background="/public/images/left_bg.jpg" valign="top" width="10"><img src="http://northsouth.org/public/images/left_bg.jpg" height="5" width="10"></td>
    <td width="951"><table align="center" border="0" cellpadding="0" cellspacing="0" width="950">
      <tbody><tr>
        <td bgcolor="#FFFFFF"><table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
              <td valign="top" width="82%">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                
                <tbody><tr>
                  <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top" width="24%"><img src="http://northsouth.org/public/images/img_01.jpg" alt="" usemap="#Map" border="0" height="144" width="232">
                        <map name="Map" id="Map1">
                          <area shape="circle" coords="105,81,61" href="http://northsouth.org/public/main/home.aspx">
                        </map></td>
                      <td valign="top" width="76%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                          <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td width="51%"><img src="http://northsouth.org/public/images/img_02.jpg" alt="" height="109" width="399"></td>
                              <td background="/public/images/img_03.jpg" valign="top" width="49%"><table border="0" cellpadding="0" cellspacing="0" width="89%">
                                <tbody><tr>
                                  <td width="30%">&nbsp;</td>
                                  <td width="70%"><table align="center" border="0" cellpadding="0" cellspacing="0" height="31" width="95%">
                                      <tbody><tr>
                                        <td width="44%"><table class="tab" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody><tr>
                                              <td id="Td1" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu1&quot;,'1')" style="color: #ff7777" align="left"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/public/images/us_login_btn.jpg',1)"><img src="http://www.northsouth.org/public/images/us_login.jpg" alt="US Login" name="Image3" id="Img1" border="0" height="22" width="77"></a></td>
                                            </tr>
                                        </tbody></table>
                                            <div id="Div1" style="position: absolute; z-index: 1; width: 110px; visibility: hidden;">
                                              <table style="border-collapse: collapse;" bgcolor="#87BE01" cellpadding="0" cellspacing="0" width="110">
                                                <tbody><tr style="background-color: rgb(135, 190, 1);" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                  <td class="right_btn" align="center" width="6">&nbsp;</td>
                                                  <td class="top_btn" align="left" width="104"><a href="https://www.northsouth.org/app9/login.aspx?entry=p" target="_blank">Parent Login</a>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="http://northsouth.org/public/images/line.jpg" height="1" width="110"></td>
                                                </tr>
                                                <tr style="background-color: rgb(135, 190, 1);" onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                  <td class="right_btn" align="center">&nbsp;</td>
                                                  <td class="top_btn" align="left"><a href="https://www.northsouth.org/app9/login.aspx?entry=v" target="_blank">Volunteer Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="http://northsouth.org/public/images/line.jpg" height="1" width="110"></td>
                                                </tr>
                                                <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                  <td class="right_btn" align="center">&nbsp;</td>
                                                  <td class="top_btn" align="left"><a href="https://www.northsouth.org/app9/login.aspx?entry=d" target="_blank"> Donor Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="http://northsouth.org/public/images/line.jpg" height="1" width="110"></td>
                                                </tr>
                                              </tbody></table>
                                            </div></td>
                                        <td width="56%"><table class="tab" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody><tr>
                                              <td id="Td2" onmouseout="btnTimer()" onmouseover="showLayer(&quot;Menu2&quot;,'2')" style="color: #ff7777" align="left"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/public/images/india_login_btn.jpg',1)"><img src="http://www.northsouth.org/public/images/india_login.jpg" alt="India Login" name="Image4" id="Img2" border="0" height="22" width="91"></a></td>
                                            </tr>
                                        </tbody></table>
                                            <div id="Div2" style="position: absolute; z-index: 1; width: 105px; visibility: hidden;">
                                              <table style="border-collapse: collapse;" bgcolor="#87BE01" cellpadding="0" cellspacing="0" width="105">
                                                <tbody><tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                  <td class="right_btn" align="center" width="5">&nbsp;</td>
                                                  <td class="top_btn" align="left"><a href="http://www.northsouth.org/app6/Login.aspx" target="_blank">Applicant Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="http://northsouth.org/public/images/line.jpg" height="1" width="105"></td>
                                                </tr>
                                                <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                  <td class="right_btn" align="center">&nbsp;</td>
                                                  <td class="top_btn" align="left"><a href="http://www.northsouth.org/app6/VolunteerLogin.aspx" target="_blank">Volunteer Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="http://northsouth.org/public/images/line.jpg" height="1" width="105"></td>
                                                </tr>
                                           <tr onmouseout="menuOut(this,'#87BE01')" onmouseover="menuOver(this,'#383735')" height="25">
                                                  <td class="right_btn" align="center">&nbsp;</td>
                                                  <td class="top_btn" align="left"><a href="http://www.northsouth.org/app6/AlumniLogin.aspx" target="_blank">Alumni Login</a></td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2"><img src="http://northsouth.org/public/images/line.jpg" height="1" width="105"></td>
                                                </tr>
                                              </tbody></table>
                                            </div></td>
                                      </tr>
                                  </tbody></table></td>
                                </tr>
                              </tbody></table></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                        <tr>
                          <td height="35"><div>
<ul class="menu">
    <li class="top"><a href="http://northsouth.org/public/main/home.aspx" class="top_link"><span>HOME </span></a></li>
	<li class="top"><a href="#" class="top_link"><span>US CONTESTS</span></a>
		<ul class="sub">
			<li><a href="http://northsouth.org/public/uscontests/uscontests.aspx">General Information</a></li>
			<li><a href="http://northsouth.org/public/uscontests/uschapters/uschapters.aspx">US Chapters</a></li>
            <li><a href="http://northsouth.org/public/uscontests/regionals/regionals.aspx">Regional Contests</a></li>
			<li><a href="http://northsouth.org/public/uscontests/finals/nationalfinals.aspx">National Finals</a></li>
            <li><a href="http://northsouth.org/public/uscontests/workshops/workshop.aspx">Workshops</a></li>
            <li><a href="http://northsouth.org/public/uscontests/coaching/coaching.aspx">Coaching</a></li>
            <li><a href="http://northsouth.org/public/main/excelathon.aspx">Excelathon</a></li>
			<li><a href="http://northsouth.org/public/uscontests/newparents.aspx">New Parents</a></li>
			<!--<li><a href="http://northsouth.org/public/uscontests/usscholarships.aspx">US Scholarships</a></li>-->
		</ul>
	</li>
	<li class="top"><a href="#" class="top_link"><span>INDIA SCHOLARSHIPS</span></a>
		<ul class="sub">
			<li><a href="http://northsouth.org/public/india/scholarships.aspx">General Information</a></li>			
            <li><a href="http://northsouth.org/public/india/chapters.aspx">India Chapters</a></li>
		</ul>
	</li>
	<li class="top"><a href="#" class="top_link"><span>KIDS CORNER</span></a>
	<ul class="sub">
			<li><a href="http://northsouth.org/public/kidscorner/dollarasquare.aspx">Dollar a square</a></li>			
            <li><a href="https://www.northsouth.org/app9/Login.aspx?entry=G" target="_blank">Online Bee Games</a></li>
			<li><a href="http://northsouth.org/public/kidscorner/mathcolumn.aspx">Math Column</a></li>
			<li><a href="http://northsouth.org/public/main/excelathon.aspx">Excelathon</a></li>
		</ul>
	</li>
	<li class="top"><a href="http://northsouth.org/public/others/youthprograms.aspx" class="top_link"><span>YOUTH PROGRAMS</span></a></li>
	<li class="top"><a href="http://northsouth.org/public/others/partners.aspx" class="top_link"><span>PARTNERS</span></a></li>
	<li class="top"><a href="http://northsouth.org/public/others/volunteers.aspx" class="top_link"><span>VOLUNTEERS</span></a></li>
</ul>
</div></td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table></td>
                  </tr>

                    


    <tr>
        <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="912px">
        <tbody><tr>
            <td height="1px"></td>
        </tr>
        <tr>
            <td><asp:ContentPlaceHolder ID="MainContent" runat="server" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </tbody></table></td>
    </tr>
                
    <tr>
        <td><!-- InstanceBeginEditable name="EditRegion1" -->
			      </td>
                  </tr>
              </tbody></table></td>
            </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td bgcolor="#46A71C"><table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
          <tbody><tr>
            <td class="bottom" align="left" height="25" width="476">
                <a href="http://northsouth.org/public/aboutus/aboutus.aspx">About Us</a>&nbsp;&nbsp;|&nbsp;
                <a href="http://northsouth.org/public/main/faq.aspx">FAQ</a>&nbsp;&nbsp;|&nbsp;
                <!-- <a href="http://northsouth.org/public/main/search.aspx">Search our Site</a>&nbsp;&nbsp;|&nbsp; -->
                <!-- <a href="http://northsouth.org/public/main/wearelistening.aspx">We&rsquo;re Listening</a>&nbsp;&nbsp;|&nbsp; -->
                <a href="http://northsouth.org/public/main/contact.aspx">Contact Us</a>&nbsp;&nbsp;|&nbsp;
                <a href="http://northsouth.org/public/main/privacy.aspx">Privacy Policy</a>
            </td>
          </tr>
        </tbody></table></td>
      </tr>
      
    </tbody></table></td>
    <td align="left" background="/public/images/right_bg.jpg" valign="top" width="10"><img src="http://northsouth.org/public/images/right_bg.jpg" height="5" width="10"></td>
  </tr>
  <tr>
    <td colspan="3"><table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
      <tbody><tr>
        <td class="btn_05" align="left" height="25">Copyright © 2011 North South Foundation.</td>
        <td class="btn_05" align="right" height="25" valign="middle">Follow Us: 
        <a href="http://twitter.com/NSFBee" target="_blank"><img src="http://northsouth.org/public/images/icon_twitter_15x15.gif" alt="Twitter" border="0" height="15" width="15"></a>
        <a href="http://www.facebook.com/NorthSouthFoundation" target="_blank"><img src="http://northsouth.org/public/images/icon_facebook_15x15.gif" alt="Facebook" border="0" height="15" width="15"></a>
        <a href="http://www.youtube.com/user/northsouthusa#g/a" target="_blank"><img src="http://northsouth.org/public/images/icon_youtube_35x15.gif" alt="Youtube" border="0" height="15" width="35"></a>
        </td>
        <!-- <td align="right" class="btn_05">Designed &amp; Developed by: <a href="http://www.metasenseusa.com/" target="_blank">www.metasenseusa.com</a></td> -->
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>




</body>
</html>
