<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/NSFInnerMasterPage.master" Inherits="VRegistration.RegistrationStatus" CodeFile="RegistrationStatus.aspx.vb" %>
<asp:Content ID="Content2" ContentPlaceHolderID="Content_main" Runat="Server">
<div align="left" >
&nbsp;&nbsp;<asp:hyperlink CssClass="btn_02" id="hlinkParentRegistration" runat="server" NavigateUrl="UserFunctions.aspx">Back to Parent Functions Page</asp:hyperlink>
</div>

    <div>
			<TABLE id="Table1" cellSpacing="1" cellPadding="1" border="0">
				
					<tr>
						<td class="Heading" align="center">Registration Status
						</td>
					</tr>
					<TR>
						<TD>
							<TABLE id="Table2" cellSpacing="1" cellPadding="1" width="100%" border="0">
															<tr id ="TrConfMsg"  runat="server" visible="False"><td colspan="3">
								    <asp:Label ID="lblLocConf" runat="server" Text=" * Multiple locations are selected on the same date." ForeColor="Red"></asp:Label> 
								</td></tr> 
								<TR>
									<TD><asp:label id="lblComment" runat="server" CssClass="largewordingbold"></asp:label></TD>
									<TD></TD>
									<TD></TD>
								</TR>
								<TR>
									<TD align="center" colSpan="3"><asp:datagrid id="dgSelectedContests" runat="server" CssClass="mediumwording" Font-Size="X-Small"
											AutoGenerateColumns="False" CellPadding="2" BorderColor="Tan" BorderWidth="1px"
											BackColor="LightGoldenrodYellow" ForeColor="Black" GridLines="None">
											<FooterStyle CssClass="GridFooter" BackColor="Tan"></FooterStyle>
											<AlternatingItemStyle CssClass="GridAltItem" Wrap="False" BackColor="PaleGoldenrod"></AlternatingItemStyle>
											<ItemStyle CssClass="GridItem" Wrap="False"></ItemStyle>
											<HeaderStyle CssClass="GridHeader" Wrap="False" BackColor="Tan" Font-Bold="True"></HeaderStyle>
											<Columns>
												<asp:BoundColumn Visible="False" DataField="ChildNumber"></asp:BoundColumn>
												<asp:BoundColumn Visible="False" DataField="ContestID"></asp:BoundColumn>
												<asp:BoundColumn Visible="False" DataField="PaymentDate"></asp:BoundColumn>
												<asp:BoundColumn DataField="ContestantName" HeaderText="Contestant"  ItemStyle-Width="150px"></asp:BoundColumn>
												<asp:TemplateColumn HeaderText="Contest">
													<HeaderStyle Width="150px"></HeaderStyle>
													<ItemTemplate>
														<%# DataBinder.Eval(Container.DataItem, "ContestDesc") %><br />
														<%#DataBinder.Eval(Container.DataItem, "BadgeNumber")%>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Chapter">
													<HeaderStyle Width="150px"></HeaderStyle>
													<ItemTemplate>
													<asp:Label ID="lblChapterCode" runat="server" Text='<%#DataBinder.Eval(Container.DataItem, "ChapterCode")%>' CssClass="SmallFont"></asp:Label>	
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Contest Date">
													<HeaderStyle Width="100px"></HeaderStyle>
													<ItemTemplate>
														<asp:label ID="lblContestDate" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "ContestDate") %>' CssClass="SmallFont"></asp:label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Contest Time">
													<HeaderStyle Wrap="False" Width="75px"></HeaderStyle>
													<ItemTemplate>
														<%#DataBinder.Eval(Container.DataItem, "CheckInTime")%>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Contact Info">
													<HeaderStyle Width="150px"></HeaderStyle>
													<ItemTemplate>
													<asp:Label ID="lblContactInfo" runat="server" CssClass="SmallFont"></asp:Label>
														<%--<%# DataBinder.Eval(Container.DataItem, "ContactInfo") %>--%>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="T-Shirt Size">
													<HeaderStyle Width="150px"></HeaderStyle>
													<ItemTemplate>
													<asp:Label ID="lblTShirtSize" runat="server" CssClass="SmallFont">
														<%#DataBinder.Eval(Container.DataItem, "TshirtSize")%></asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Payment Info">
													<HeaderStyle  Width="200px"></HeaderStyle>
													<ItemTemplate>
														<asp:Label ID="lblPaymentInfo" runat="server" CssClass="SmallFont"></asp:Label>
														<br />
														<asp:HyperLink id="hlDownloadLink" runat="server" Visible="False" Target="_blank" >Click here to download words, problems or topic</asp:HyperLink><br>
														<asp:HyperLink id="hlDOCDownloadLink" runat="server" Visible="False" Target="_blank" Text="Click here to download words, problems or topic"></asp:HyperLink>
                                                       <asp:Label ID="lblDownload" Visible="false" runat="server" CssClass="SmallFont"></asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
											</Columns>
											<PagerStyle HorizontalAlign="Center" ForeColor="DarkSlateBlue" BackColor="PaleGoldenrod"></PagerStyle>
                                        <SelectedItemStyle BackColor="DarkSlateBlue" ForeColor="GhostWhite" />
										</asp:datagrid></TD>
								</TR>
								

							</TABLE>
							<table id="tblMealsRegister" runat="server">
								<tr>
									<td class="Heading" align="center">Meal Charges Info
									</td>
								</tr>
								<tr>
									<td></td>
								</tr>
							</table>
							<table>
								<tr>
									<td><asp:datagrid id="dgMeals" runat="server" CssClass="GridStyle" AutoGenerateColumns="False" CellPadding="4"
											BorderWidth="1px" Width="100%" AllowSorting="True">
											<FooterStyle CssClass="GridFooter"></FooterStyle>
											<SelectedItemStyle CssClass="SelectedRow"></SelectedItemStyle>
											<AlternatingItemStyle CssClass="GridAltItem" Wrap="False"></AlternatingItemStyle>
											<ItemStyle CssClass="GridItem" Wrap="False"></ItemStyle>
											<HeaderStyle CssClass="GridHeader" Wrap="False"></HeaderStyle>
											<Columns>
												<asp:TemplateColumn HeaderText="Event Name">
													<ItemTemplate>
														<asp:Label id="lblChapterCity" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.EventName") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Contest Date">
													<ItemTemplate>
														<asp:Label id="lblContestDate" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.ContestDate", "{0:d}") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="MealType">
													<ItemTemplate>
														<asp:Label id="lblMealtype" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.MealType") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn  HeaderText="Lunch Type">
													<ItemTemplate>
														<asp:Label id="lblLunchtype" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.Lunchtype") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Name">
													<ItemTemplate>
														<asp:Label id=lblContestantName runat="server" Text='<%# DataBinder.Eval(Container, "DataItem.Name") %>' CssClass=SmallFont>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="RelationType">
													<ItemTemplate>
														<asp:Label id="lblScore1" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.RelationType") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="EmailID">
													<ItemTemplate>
														<asp:Label id="lblScore2" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.EmailID") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Home Phone">
													<ItemTemplate>
														<asp:Label id="lblScore3" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.HomePhone") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Amount">
													<ItemTemplate>
														<asp:Label id="lblAmount" runat="server" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.Amount","{0:c}") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Payment Mode">
													<ItemTemplate>
														<asp:Label runat="server" ID="lblGrade" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.PaymentMode") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Payment Date">
													<ItemTemplate>
														<asp:Label runat="server" ID="lblPaymentDate" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.PaymentDate","{0:d}") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
												<asp:TemplateColumn HeaderText="Payment Reference">
													<ItemTemplate>
														<asp:Label runat="server" ID="lblCriteriaValue" CssClass="SmallFont" Text='<%# DataBinder.Eval(Container, "DataItem.PaymentReference") %>'>
														</asp:Label>
													</ItemTemplate>
												</asp:TemplateColumn>
											</Columns>
											<PagerStyle HorizontalAlign="Center" ForeColor="#330099" BackColor="#FFFFCC"></PagerStyle>
										</asp:datagrid></td>
								</tr>
								
							</table>
							
							</TD>
							</TR>
							
							</TABLE>
		</div>	
		</asp:Content>					
							
							

 
 