<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/NSFInnerMasterPage.master" Inherits="VRegistration.SATtestStatus" CodeFile="SATtestStatus.aspx.vb" %>
<asp:Content ID="Content2" ContentPlaceHolderID="Content_main" Runat="Server">
<div align="left"  >
&nbsp;&nbsp;<asp:hyperlink CssClass="btn_02" id="hlinkParentRegistration" runat="server" NavigateUrl="../UserFunctions.aspx">Back to Parent Functions Page</asp:hyperlink></div>

    <div style="text-align:centers;height:300px">
        <center><asp:Label  ID="lbl" runat="server"></asp:Label></center>
		</div>	
		</asp:Content>					
							
							

 
 